<!-- Delete Folder Modal -->
<div class="modal fade" id="delete-folder-modal" tabindex="-1" role="dialog" aria-labelledby="delete-folder-modalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete folder</h4>
        <p class="modal-message">You're about to permanently delete [name of folder] and [x] sitemaps inside it.</p>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <div class="folder-name-to-delete">
            Spotify wireframes
          </div>
        </div>
        <div class="modal-button text-center">
          <a href="#" class="btn btn-red">Delete</a>
          <a href="#" data-dismiss="modal" class="btn btn-transparent btn-last">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</div>