<li class="clearfix notification-item">
  <div class="pull-left notification-image">
    <%= image_tag(notification.user.try(:avatar) || 'profile-image.png', class: 'profile-image') %>
  </div>
  <div class="pull-left notification-content">
    <%= link_to notification.message, notification.link_to, class: "notification-message" %>
    <span class="notification-time"><%= time_ago_in_words(notification.created_at) + ' ago' %></span>
  </div>
</li>
