<!doctype html>
<html>
  <head>
    <script>
      function subst() {
        var vars={};
        var x=window.location.search.substring(1).split('&');
        for (var i in x) {var z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}
        var x=['topage','page'];
        for (var i in x) {
          var y = document.getElementsByClassName(x[i]);
          for (var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
        }
      }
    </script>
    <style type="text/css">
      .pdf-footer { padding: 20px; }
      .pdf-footer .footer-logo { width: 21px; height: auto; margin-right: 5px; position: relative; top: 4px; }
      .pdf-footer .left { display: inline-block; width: 75%; color: #62717F; font-size: 13px; }
      .pdf-footer .right { display: inline-block; text-align: right; width: 23%; margin-left: -4px; color: #62717F; font-size: 13px; }
    </style>
  </head>
  <body style="border:0; margin: 0;" onload="subst()">
    <div class="pdf-footer">
      <div class="left">
        <img class="footer-logo" src="/assets/timblee-pdf-icon.png" alt="Business logo">
        Designed with Timblee
      </div>
      <div class="right">
        Page <span class="page"><%= params[:page]%></span> of <span class="topage"><%= params[:topage]%></span>
      </div>
    </div>
  </body>
</html>
