<div class="modal fade" id="choose-plan-modal" tabindex="-1" role="dialog" aria-labelledby="choose-plan-modalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <%= image_tag('close-modal.svg', class: 'close-modal') %>
          </span>
        </button>
        <h4 class="modal-title"><%= current_business.plan ? "Switch your plan": "Choose your plan"%></h4>
        <p class="modal-message">Choose from one of two plans based on your needs. Pay only for the <br> users you need and nothing more, with simple, <br> per user per month pricing.</p>
      </div>
      <div class="modal-body">
        <div class="clearfix">
          <div class="pro-plan-benefits plan-benefits">
            <h1 class="choose-plan-heading">Pro</h1>
            <h3>If you plan web projects for a living or <br> work in a team.</h3>
            <ul>
              <li>Unlimited users</li>
              <li>Unlimited guests</li>
              <li>Unlimited sitemaps</li>
              <li>All features</li>
            </ul>
            <p>$19 for the first user. Then $12 per user.</p>
            <% if current_business.is_pro_plan? %>
              <span class="current-plan-text">YOUR CURRENT PLAN</span>
            <% else %>
              <a href="#pro-plan-modal" data-toggle="modal" data-dismiss="modal" class="btn btn-pink btn-modal-open"><%= current_business.plan ? "SWITCH TO PRO": "Choose this plan"%></a>
            <% end %>
          </div>
          <div class="starter-plan-benefits plan-benefits">
            <h1 class="choose-plan-heading">Starter</h1>
            <h3>Business owners and those looking to plan the <br> occasional web project.</h3>
            <ul>
              <li>One user</li>
              <li>Unlimited guests</li>
              <li>Three sitemaps</li>
              <li>All features</li>
            </ul>
            <p>Free</p>
            <% if current_business.is_starter_plan? %>
              <span class="current-plan-text">YOUR CURRENT PLAN</span>
            <% else %>
              <a href="#starter-plan-modal" data-dismiss="modal" data-toggle="modal" class="btn btn-grey btn-modal-open"><%= current_business.plan ? "DOWNGRADE TO STARTER": "Choose this plan"%></a>
            <% end %>
          </div>
        </div>
        <p class="para-light-14 text-center">All amounts are in USD and reflect monthly charges. <br> We only offer monthly plans so you can change and cancel any time you <br> want. If you're in Australia, the amounts include 10% GST.</p>
      </div>
    </div>
  </div>
</div>
