<!-- Delete User Modal -->
<div class="modal fade" id="delete-user-modal" tabindex="-1" role="dialog" aria-labelledby="delete-user-modalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <%= image_tag('close-modal.svg', class: 'close-modal') %>
          </span>
        </button>
        <h4 class="modal-title">Delete user</h4>
        <p class="modal-message">You're about to delete a user from your account.</p>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <div class="folder-name-to-delete">
          </div>
        </div>
        <div class="modal-button text-center">
          <%= link_to "Delete User", '#', method: :delete, class: "btn btn-red", id: 'delete-user-link' %>
          <a href="#" data-dismiss="modal" class="btn btn-transparent btn-last">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</div>
