<div role="tabpanel" class="tab-pane" id="team">
  <form class="settings-form">
    <div class="form-group">
      <div class="row">
        <div class="col-xs-9">
          <div class="clearfix">
            <%= image_tag('profile-image.png', class: 'profile-image pull-left') %>
            <div class="right-text pull-right">
              <h3 class="team-member-name">Invite a team member to Timblee</h3>
              <span class="active-since">Each new user is US $12 per month. You'll be billed pro-rata for this billing period once you invite them.</span>
            </div>
          </div>
        </div>
        <div class="col-xs-3 text-right edit-info">
          <div class="edit">
            <a href="#invite-user-modal" data-toggle="modal" class="btn btn-pink">Invite</a>
          </div>
        </div>
      </div>
    </div>
  </form>

  <form class="settings-form">
    <div class="form-group">
      <div class="row">
        <div class="col-xs-9">
          <div class="clearfix">
            <%= image_tag('profile-image.png', class: 'profile-image pull-left') %>
            <div class="right-text pull-right">
              <h3 class="team-member-name">Janine Tourella</h3>
              <span class="active-since">Active user since 5 December 2015</span>
            </div>
          </div>
        </div>
        <div class="col-xs-3 text-right edit-info">
          <div class="edit">
            <a href="javascript:void(0);" class="btn btn-grey">Edit</a>
            <a href="#delete-user-modal" data-toggle="modal" class="link-regular btn-regular">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </form>

  <form class="settings-form">
    <div class="form-group">
      <div class="row">
        <div class="col-xs-9">
          <div class="clearfix">
            <%= image_tag('profile-image.png', class: 'profile-image pull-left') %>
            <div class="right-text pull-right">
              <h3 class="team-member-name">Jimmy McNulty</h3>
              <span class="active-since">Active user since 6 April 2016</span>
            </div>
          </div>
        </div>
        <div class="col-xs-3 text-right edit-info">
          <div class="edit">
            <a href="javascript:void(0);" class="btn btn-grey">Edit</a>
            <a href="#delete-user-modal" data-toggle="modal" class="link-regular btn-regular">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </form>

  <form class="settings-form last">
    <div class="form-group">
      <div class="row">
        <div class="col-xs-9">
          <div class="clearfix">
            <%= image_tag('avatar_5.svg', class: 'profile-image pull-left') %>
            <div class="right-text pull-right">
              <h3 class="team-member-name">Ruby Stratos</h3>
              <span class="active-since">Active user since 5 November 2016</span>
            </div>
          </div>
        </div>
        <div class="col-xs-3 text-right edit-info">
          <div class="edit">
            <a href="javascript:void(0);" class="btn btn-grey">Edit</a>
            <a href="#delete-user-modal" data-toggle="modal" class="link-regular btn-regular">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
