<!-- Delete sitemap Modal -->
<div class="modal fade" id="delete-sitemap-modal" tabindex="-1" role="dialog" aria-labelledby="delete-sitemap-modalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <%= image_tag('close-modal.svg', class: 'close-modal') %>
          </span>
        </button>
        <h4 class="modal-title">Delete sitemap</h4>
        <p class="modal-message">Youre about to permanently delete this sitemap from your account.</p>
      </div>
      <div class="modal-body">
        <div class="site-map-clone"></div>
        <div class="modal-button text-center">
          <%= link_to "Delete Sitemap", '#', method: :delete, class: "btn btn-red", id: 'delete-sitemap-link' %>
          <a href="#" data-dismiss="modal" class="btn btn-transparent btn-last">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</div>
