<a href="javascript:void(0);" class="site-card new-sitemap-link new_sitemap_link" data-allow-more-sitemaps= "<%= current_business.allow_more_sitemaps? ? 'true' : 'false' %>">
  <span class="icon-add"></span> <br>
  New Sitemap
</a>
