<%= react_component("SitemapApp", props: @sitemap_props, prerender: false) %>
<%= javascript_include_tag('webpack-bundle') %>

<div class="loader hide">
  <div class="loader-logo">
    <img src="/assets/Timblee-icon.svg" alt=" ">
  </div>
  <div class="timblee text-center">
    <h1>Timblee</h1>
    <p>Beautiful Visual Sitemaps</p>
  </div>
</div>