<div class="flash">
  <% flash.each do |type, message| %>
    <% if message.present? %>
      <div class="message <%= type %>">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class='flash_message'><%= sanitize(message) %></span>
      </div>
    <% end %>
  <% end %>
</div>
