<div class='modal fade' id='sucessful_reset_password_sent_modal' tabindex='-1' role='dialog' aria-labelledby='sucessful_reset_password_sent_modalLabel'>

  <div class='modal-dialog' role='document'>
    <div class='modal-content'>

      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
        <h4 class='modal-title' id='sucessful_reset_password_sent_modalLabel'>We've emailed you a link</h4>
      </div>

      <div class='modal-body'>
        <div class='form'>
        Check your email and click on the link to set a new password.
        <br>
        We are now patient either and we know it sucks to wait but did you wait at least 2-3 minutes and didn't get the email?
        Check your spam folder or <%= link_to "get it sent again", new_password_path(resource_name), class: 'link-regular' %> .

        </div>

      </div>

    </div>
  </div>
</div>
<%= javascript_include_tag 'show_modal' %>
