<div class='modal fade user-entry' id='sucessful_reset_password_sent_modal' tabindex='-1' role='dialog' aria-labelledby='sucessful_reset_password_sent_modalLabel'>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="logo">
          <%= image_tag('Timblee-icon.svg', class: 'logo-inner') %>
        </div>
        <h4 class="modal-title">We've emailed you a link</h4>
        <p class="modal-message">Check your email and click on the link to set a new password.</p>
      </div>
      <div class="modal-body text-center">
        <p class="send-again">
          We're not patient either and we know it sucks to wait, but <br> did you wait at least 2-3 minutes and didn't get the email? <br> Check your spam folder or <%= link_to "get it sent again", new_password_path(resource_name), class: 'link' %> get it sent again.</a>
        </p>
        <div class="modal-button text-center">
          <a href="#" data-dismiss="modal" class="btn btn-transparent">OK</a>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'show_modal' %>


