<div class="modal fade" id="page-comments-modal" tabIndex="-1" role="dialog" aria-labelledby="page-comments-modalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <img src='/assets/close-modal.svg' class='close-modal hide-delete-modalx'></img>
          </span>
        </button>
        <div class='page-comments'>
          <div class="page-comment-details">
            <span class="page-id">ID: 1</span>
            <div class="clearfix">
              <span class="page-name truncate pull-left">name</span>
              <label class="pull-right" htmlFor="mark-resolve">
                Mark as resolved
                <input type="checkbox" id="mark-resolve" />
              </label>
            </div>
          </div>
          <ul class="comment-group">
          </ul>
          <div class="comment-holder">
            <textarea ref='newComment' id="temp" class="emoji-decorated comment-editor comment-input__input" data-emojiable="true" data-emoji-input="unicode"></textarea>
            <div class="add-remove-comment">
              <span class='cursor add'>Add my comment </span>
              <span class="or">or</span>
              <span class='cursor cancel'> cancel</span>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
