#upgrade {
  &:hover {
    color: $primaryPink;
  }
}

.default-input {
  background: #f9f9fa;
  &:focus {
    background: $primaryWhite;
  }
  &.btn-grey {
    background: $primaryWhite;
  }
}

.add-credit-card {
  margin: 20px -10px 0 -10px;
  [class^="col-"], [class*=" col-"] {
    padding-left: 10px;
    padding-right: 10px;
  }
}

#choose-plan-modal {
  .modal-dialog {
    width: 942px;
  }
  .modal-header {
    background: $pageBackground;
    border: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .modal-body {
    padding: 10px 105px;
  }
  .para-light-14 {
    padding-top: 25px;
  }
  .modal-message {
    color: $primaryGrey;
  }
}

.para-light-14 {
  font-size: 14px;
  color: $primaryLabel;
  line-height: 20px;
}

.plan-benefits {
  float: left;
  background: $primaryWhite;
  @include border-radius(6px);
  position: relative;
  border: 1px solid #f4f5f5;
  padding: 10px;
  text-align: center;
  @include box-shadow(1px, 1px, 2px, rgba(106, 113, 127, .2));
  .choose-plan-heading {
    @extend .font-24;
    color: $primaryBlack;
    font-weight: 700;
    margin: 20px 0 10px 0;
  }
  h3 {
    @extend .font-14;
    color: $primaryGrey;
    margin-top: 0;
    font-weight: 600;
  }
  .plan-dis {
    margin-bottom: 14px;
  }
  ul {
    padding: 10px 0 20px 0;
  }
  li, p {
    font-size: 14px;
    line-height: 11px;
    color: $primaryGrey;
    + li {
      margin-top: 10px;
    }
  }
  &.pro-plan-benefits {
    width: 380px;
    min-height: 330px;
    z-index: 2;
    .btn {
      font-size: 10px;
      background: $primaryPink;
      color: $primaryWhite;
      margin-top: 6px;
      &:hover {
        background: $primaryWhite;
        color: $primaryPink;
      }
    }
   }
   &.starter-plan-benefits {
    width: 348px;
    min-height: 300px;
    margin-top: 15px;
    z-index: 1;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    h1 {
      font-size: 18px;
      line-height: 26px;
      color: $primaryGrey;
    }
    h3 {
      @extend .font-12;
    }
    li {
      color: $primaryLink;
      font-size: 12px;
    }
    p {
      color: $primaryGrey;
      font-size: 12px;
    }
    ul {
      padding: 8px 0 12px 0;
    }
    .btn {
      height: 29px;
      line-height: 22px;
      font-size: 8px;
      line-height: 14px;
      margin-top: 10px;
    }
  }
}

#pro-plan-modal,
#starter-plan-modal {
  .modal-body,
  .modal-header {
    padding-left: 278px;
    padding-right: 278px;
  }
  .modal-dialog {
    width: 942px;
  }
  .modal-body {
    padding-bottom: 40px;
  }
  .modal-title {
    padding-top: 64px;
    padding-bottom: 21px;
  }
  .modal-message {
    color: $primaryGrey;
  }
  .cc-number {
    background: $primaryWhite;
  }
  .loading-image {
    z-index: 999;
    position: absolute;
    display: none;
    left: 400px;
  }
}

#pro-plan-modal {
  .modal-header {
    padding-bottom: 30px;
  }
  input, button, #confirm-saved-card {
    @include border-radius(4px!important);
  }
  button:not(.close), #confirm-saved-card {
    background: $transparent;
    &:hover {
      color: $primaryWhite;
      background: $primaryPink!important;
    }
  }
}

#starter-plan-modal {
  .modal-body,
  .modal-header {
    padding-left: 240px;
    padding-right: 240px;
  }
}

.pay {
  .row {
    margin-left: -10px;
    margin-right: -10px;
  }
  [class^="col-"], [class*=" col-"] {
    padding-left: 10px;
    padding-right: 10px;
  }
  .form-group {
    margin-bottom: 10px;
  }
  #confirm-saved-card,
  #add-card {
    min-width: 185px;
    @include border-radius(1px);
    font-size: 14px;
    height: 45px;
    line-height: 31px;
    margin-top: 33px;
  }
  #add-card {
    margin-top: 29px;
  }
  input {
    @include border-radius(1px);
    background: $primaryWhite;
  }
}

.btn-success {
  background: #00af40;
  color: $primaryWhite;
  font-size: 14px;
  line-height: 24px;
  min-width: 160px!important;
  height: 50px!important;
  text-transform: uppercase;
  margin-bottom: 25px;
}

#starter-plan-modal {
  .modal-dialog {
    @include alignCenter(-471px, -260px);
  }
  .modal-body {
    padding-bottom: 20px!important;
  }
  .modal-header {
    padding-bottom: 30px;
  }
  .form-group {
    margin-bottom: 15px;
  }
  .para-light-14 {
    color: $primaryLink;
    @extend .font-12;
  }
  li {
    @extend .font-14;
    color: $primaryGrey;
    + li {
      margin-top: 5px;
    }
  }
  ul {
    padding: 0;
    padding-bottom: 30px;
  }
  .btn-success {
    margin-bottom: 15px;
  }
}

.charge {
  text-align: center;
  @extend .font-14;
  color: $primaryLink;
  span {
    font-size: 32px;
    line-height: 37px;
    margin-top: 5px;
    display: block;
    color: $primaryBlack;
    margin-bottom: 30px;
  }
}

.plan-users {
  padding: 35px 0 10px 0;
  p {
    color: #414952;
    @extend .font-18;
    text-align: left;
  }
  .form-control {
    width: 80px;
    height: 40px;
    text-align: center;
  }
}

.starter-plan-list {
  li {
    padding-left: 25px;
    position: relative;
    span {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 17px;
      top: 2px;
      color: $primaryError;
      &.green {
        color: $primarySuccess;
      }
    }
    + li {
      margin-top: 11px!important;
      margin-bottom: 0!important;
    }
  }
}

.plan-users-input {
  font-size: 24px;
}

a#upgrade {
  color: inherit;
  text-decoration: underline;
}

.team-logo {
  width: 167px;
  height: 24px;
  margin-top: 3px;
}

#thanks-modal,
#pro-plan-message-modal {
  .modal-dialog {
    width: 942px;
    @include alignCenter(-471px, -190px);
  }

  h4 {
    padding-bottom: 12px;
  }

  p {
    color: $primaryGrey;
    a {
      color: $primaryGrey;
      text-decoration: underline;
      &:hover {
        color: $primaryPink;
      }
    }
  }

  .btn {
    min-width: 197px;
    margin-top: 32px;
    line-height: 34px;
  }

  .modal-header {
    border-bottom: 0;
    padding-top: 71px;
    padding-bottom: 48px;
    position: relative;
  }

  .close {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 4;
  }
}

#pro-plan-message-modal {
  h4 {
    color: $primaryError;
  }

  .modal-dialog {
    margin-top: -208px;
  }

  .btn {
    margin-top: 17px;
  }

  .sad {
    margin-left: 9px;
    position: relative;
    top: -2px;
  }
}

.sad {
  width: 21px;
  height: 21px;
}

.label-bordered {
  .sad {
    position: relative;
    top: -2px;
    margin-left: 5px;
  }
}

.current-plan-text {
  color: $primarySuccess;
  font-size: 9px;
  text-transform: uppercase;
  display: block;
  margin-top: 22px;
}

.pro-plan-benefits {
  .current-plan-text {
    margin-top: 33px;
  }
}

.select-card {
  padding: 22px 35px 30px 35px;
  margin: 0;
  li {
    + li {
      margin-top: 8px;
    }
    &:not(.active) {
      a {
        &:after {
          display: none;
        }
      }
    }
  }
  a {
    color: $primaryLink;
    font-size: 14px;
    padding-left: 18px;
    display: block;
    position: relative;
    &:before {
      content: ' ';
      left: 0;
      top: 4px;
      width: 12px;
      height: 12px;
      border: 1px solid $primaryPink;
      @include border-radius(50%);
      position: absolute;
    }
    &:after {
      content: ' ';
      left: 2px;
      top: 6px;
      width: 8px;
      height: 8px;
      @include border-radius(50%);
      position: absolute;
      background: $primaryPink;
    }
  }
}
