.page-container {
  .page-tile {
    width: 200px;
    height: 87px;
    border-top: solid 3px $primaryPink;
    @include border-radius(4px);
    @include box-shadow(1px, 1px, 2px, rgba(106, 113, 127, .2));
    background: $primaryWhite;
    position: relative;
    display: inline-block;
    cursor: pointer;
    .collapse-open {
      position: absolute;
      left: 0;
      bottom: -10px;
      width: 20px;
      height: 20px;
      @include border-radius(4px);
      border: 1px solid #f0f0f0;
      z-index: 2;
      cursor: pointer;
      background: $primaryWhite;
      &:after {
        content: ' ';
        position: absolute;
        width: 8px;
        height: 2px;
        background: #535c63;
        left: 50%;
        top: 50%;
        margin-left: -4px;
        margin-top: -1px;
        z-index: 2;
      }

      &:before {
        content: ' ';
        position: absolute;
        width: 2px;
        height: 8px;
        background: #535c63;
        left: 50%;
        top: 50%;
        margin-left: -1px;
        margin-top: -4px;
        z-index: 2;
        display: none;
      }

      &.collapse-close {
        &:before {
          display: block;
        }
      }
    }
  }

  .tile-number {
    color: $primaryGrey;
    font-size: 9px;
    display: block;
    margin: 0 0 2px 0;
  }

  .tile-id {
    position: absolute;
    left: 27px;
    bottom: 8px;
    font-size: 9px;
    color: #b7b6bc;
    display: block;
  }

  .tile-name {
    margin: 0;
    font-size: 10px;
    color: $primaryBlack;
    line-height: 14px;
    text-transform: capitalize;
    word-wrap: break-word;
  }

  .tile-top,
  .tile-bottom {
    padding-right: 70px;
    padding-left: 22px;
    height: 42px;
    text-align: left;
    position: relative;
    &.drag-over {
      background: $primaryPink;
    }
  }

  .tile-top {
    padding-top: 12px;
  }

  .tile-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 100%;
    border-left: solid 1px #f8f9fb;
  }

  &.level-0 {
    text-align: center;
    padding: 55px 0 0 40px;
    transition: padding-left .2s;
    > .page-tile {
      margin-bottom: 75px;
      margin-left: -40px;
      + .gutter {
        display: none;
      }
      &:before {
        background: #d5d7da;
        content: ' ';
        position: absolute;
        bottom: -75px;
        left: 50%;
        width: 1px;
        height: 75px;
        z-index: 2;
      }
    }
  }

  &.level-2 {
    .page-tile {
      width: 182px;
      margin-left: 18px;
      &:before {
        position: absolute;
        content: ' ';
        width: 9px;
        left: -9px;
        top: 22px;
        height: 1px;
        background: #d5d7da;
        z-index: 2;
      }

      &:after {
        position: absolute;
        content: ' ';
        width: 1px;
        left: -9px;
        top: -19px;
        height: 42px;
        background: #d5d7da;
        z-index: 2;
      }
    }

    .tile-top,
    .tile-bottom {
      padding-right: 60px;
    }

    .tile-right {
      width: 60px;
    }
  }

  &.level-3 {
    .page-tile {
      width: 164px;
      margin-left: 36px;
    }

    .tile-top,
    .tile-bottom {
      padding-right: 50px;
    }

    .tile-right {
      width: 50px;
    }
  }

  &.level-4 {
    .page-tile {
      width: 146px;
      margin-left: 54px;
    }

    .tile-top,
    .tile-bottom {
      padding-right: 40px;
    }

    .tile-right {
      width: 40px;
    }
  }

  &.level-5 {
    .page-tile {
      width: 128px;
      margin-left: 72px;
    }

    .tile-top,
    .tile-bottom {
      padding-right: 22px;
    }

    .tile-right {
      display: none;
    }
  }

  &.level-6 {
    .page-tile {
      width: 110px;
      margin-left: 90px;
    }

    .tile-top,
    .tile-bottom {
      padding-right: 22px;
    }

    .tile-right {
      display: none;
    }
  }

  &.level-7 {
    .page-tile {
      width: 92px;
      margin-left: 108px;
    }

    .tile-top,
    .tile-bottom {
      padding-right: 22px;
    }

    .tile-right {
      display: none;
    }
  }

  &.level-8 {
    .page-tile {
      width: 74px;
      margin-left: 126px;
    }

    .tile-top,
    .tile-bottom {
      padding-right: 22px;
    }

    .tile-right {
      display: none;
    }
  }

  .gutter {
    width: 100%;
    height: 26px;
    background: $transparent;
    &.drag-over {
      background: $primaryPink;
    }
  }

  .parent {
    > div {
      display: inline-block;
      width: 240px;
      vertical-align: top;
      .level-support {
        width: 40px;
        background: $transparent;
        height: 87px;
        position: relative;
        &:before {
          content: ' ';
          position: absolute;
          top: 50%;
          left: 0;
          height: 1px;
          width: 100%;
          margin-top: -.5px;
          background: #d5d7da;
        }
        &.drag-over {
          background: $primaryPink;
        }
      }

      &:last-child {
        .level-support {
          display: none;
        }
      }
    }

    .page-container {
      float: left;
      width: 200px;
      &.dragging {
        display: none;
        + .level-support {
          display: none;
        }
      }
    }

    .level-support {
      float: left;
    }

    &.parent-1 {
      .level-support {
        display: none;
      }
    }
  }

}

.sitemap-right-sidebar {
  display: none;
}

.sitemap-left-sidebar {
  position: fixed;
  width: 372px;
  background: #262b30;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  top: 0;
  padding-top: 95px;
  z-index: 2;
  transition: width .2s;
  ~ .page-container.level-0 {
    padding-left: 372px;
  }
  &.expand-false {
    cursor: pointer;
    width: 30px;
    overflow: hidden;
    ~ .page-container.level-0 {
      padding-left: 40px;
    }
  }

  .expand-btn {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    text-align: center;
    span {
      color: #6a717f;
      text-transform: uppercase;
      font-size: 10px;
      position: absolute;
      top: calc(50% - 47px);
      left: 50%;
      margin-top: -7px;
      margin-left: -19px;
      @include rotate(90deg);
    }
    &:hover {
      span {
        color: $primaryWhite;
      }
    }
  }
}

.page-type-list {
  padding: 0;
  margin: 0;
  li {
    float: left;
    width: 50%;
    height: 112px;
    padding: 17px 25px 12px 25px;
    border-right: 1px solid #171a1d;
    border-bottom: 1px solid #171a1d;
    text-align: center;
    color: $primaryLink;
    font-size: 14px;
    &:first-child,
    &:nth-child(2) {
      border-top: 1px solid #171a1d;
    }
  }

  .page-type-box {
    font-family: "proxima-nova",sans-serif;
    height: 60px;
    background: $primaryWhite;
    @include border-radius(6px);
    @include box-shadow(1px, 1px, 2px, rgba(106, 113, 127, .2));
    padding-left: 15px;
    text-align: left;
    position: relative;
  }

  .dummy-number {
    font-size: 8px;
    color: #858a9c;
  }

  h5 {
    font-size: 8px;
    margin: 0;
    color: #535c63;
    font-weight: 600;
  }

  .dummy-id {
    color: #b7b6bc;
    font-size: 7px;
    position: absolute;
    bottom: 5px;
    left: 15px;
    z-index: 2;
  }

  h4 {
    margin: 0;
    color: $primaryGrey;
    font-size: 11px;
    font-weight: 500;
    margin-top: 10px;
    text-transform: uppercase;
  }

  .page-type-details {
    padding-right: 50px;
  }

  .page-type-icon {
    position: absolute;
    right: 0;
    width: 45px;
    height: 100%;
    top: 0;
    border-left: solid 1px #fafafc;
  }
}