.page-container {
  .page-tile {
    width: 200px;
    height: 87px;
    border-top: solid 3px $primaryPink;
    @include border-radius(4px);
    @include box-shadow(1px, 1px, 2px, rgba(106, 113, 127, .2));
    background: $primaryWhite;
    position: relative;
    display: inline-block;
    cursor: pointer;
    .collapse-open {
      position: absolute;
      left: 0;
      bottom: -10px;
      width: 20px;
      height: 20px;
      @include border-radius(4px);
      border: 1px solid #f0f0f0;
      z-index: 2;
      cursor: pointer;
      background: $primaryWhite;
      &:after {
        content: ' ';
        position: absolute;
        width: 8px;
        height: 2px;
        background: #535c63;
        left: 50%;
        top: 50%;
        margin-left: -4px;
        margin-top: -1px;
        z-index: 2;
      }

      &:before {
        content: ' ';
        position: absolute;
        width: 2px;
        height: 8px;
        background: #535c63;
        left: 50%;
        top: 50%;
        margin-left: -1px;
        margin-top: -4px;
        z-index: 2;
        display: none;
      }

      &.collapse-close {
        &:before {
          display: block;
        }
      }
    }
  }

  .tile-number {
    color: $primaryGrey;
    font-size: 9px;
    display: block;
    margin: 0 0 2px 0;
  }

  .tile-id {
    position: absolute;
    left: 27px;
    bottom: 8px;
    font-size: 9px;
    color: #b7b6bc;
    display: block;
  }

  .tile-name {
    margin: 0;
    font-size: 10px;
    color: $primaryBlack;
    line-height: 12px;
    text-transform: capitalize;
    word-wrap: break-word;
    padding-right: 70px;
  }

  .tile-top,
  .tile-bottom {
    padding-right: 0;
    padding-left: 22px;
    height: 42px;
    text-align: left;
    position: relative;
    background: $transparent;
    z-index: 5;
    &:after {
      content: ' ';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      opacity: 0;
      height: 100%;
      background: $primaryPink;
      z-index: 10;
    }
    &.drag-over {
      &:after {
        opacity: .9;
      }
    }
  }

  .tile-top {
    padding-top: 12px;
    &:after {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
  }

  .tile-bottom {
    &:after {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

  .tile-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 100%;
    border-left: solid 1px #f8f9fb;
    background: $transparent;
    z-index: 4;
  }

  &.level-0 {
    text-align: center;
    padding: 204px 0 0 30px;
    transition: padding-left .35s;
    -moz-transition: padding-left .35s;
    -webkit-transition: padding-left .35s;
    margin: 0 auto;
    min-width: 275px;
    > .page-tile {
      margin-bottom: 75px;
      margin-left: -40px;
      + .gutter {
        display: none;
      }
      &:before {
        background: #d5d7da;
        content: ' ';
        position: absolute;
        bottom: -75px;
        left: 50%;
        width: 1px;
        height: 75px;
        z-index: 2;
      }
      &.even-tree {
        &:after {
          background: #d5d7da;
          bottom: -118px;
          content: " ";
          height: 43px;
          left: 50%;
          position: absolute;
          width: 1px;
          z-index: 2;
        }
      }
    }
  }

  &.level-1 {
    > .page-tile {
      + .gutter {
        opacity: 0;
      }
    }

    .page-tile {
      border-top-color: #0679b4;
    }
  }

  &.level-2 {
    .gutter {
      width: 182px;
      margin-left: 18px;
    }
    .page-tile {
      width: 182px;
      margin-left: 18px;
      border-top-color: #ff650f;
      &:before {
        position: absolute;
        content: ' ';
        width: 9px;
        left: -9px;
        top: 22px;
        height: 1px;
        background: #d5d7da;
        z-index: 2;
      }

      &:after {
        position: absolute;
        content: ' ';
        width: 1px;
        left: -9px;
        top: -19px;
        height: 42px;
        background: #d5d7da;
        z-index: 2;
      }
    }

    .tile-name {
      padding-right: 60px;
    }

    .tile-right {
      width: 60px;
    }
  }

  &.level-3 {
    .gutter {
      width: 164px;
      margin-left: 36px;
    }

    .page-tile {
      width: 164px;
      margin-left: 36px;
      border-top-color: #24a35f;
    }

    .tile-name {
      padding-right: 50px;
    }

    .tile-right {
      width: 50px;
    }
  }

  &.level-4 {
    .gutter {
      width: 146px;
      margin-left: 54px;
    }

    .page-tile {
      width: 146px;
      margin-left: 54px;
      border-top-color: #8851b4;
    }

    .tile-name {
      padding-right: 40px;
    }

    .tile-right {
      width: 40px;
    }
  }

  &.level-5 {
    .gutter {
      width: 128px;
      margin-left: 72px;
    }

    .page-tile {
      width: 128px;
      margin-left: 72px;
      border-top-color: #00cfff;
    }

    .tile-name {
      padding-right: 22px;
    }

    .tile-right {
      display: none;
    }
  }

  &.level-6 {
    .gutter {
      width: 110px;
      margin-left: 90px;
    }

    .page-tile {
      width: 110px;
      margin-left: 90px;
    }

    .tile-top,
    .til-bottom {
      padding-left: 10px;
    }

    .tile-name {
      padding-right: 10px;
    }

    .tile-right {
      display: none;
    }
  }

  &.level-7 {
    .gutter {
      width: 92px;
      margin-left: 108px;
    }

    .page-tile {
      width: 92px;
      margin-left: 108px;
    }

    .tile-top,
    .til-bottom {
      padding-left: 10px;
    }

    .tile-name {
      padding-right: 10px;
    }

    .tile-right {
      display: none;
    }
  }

  &.level-8 {
    .gutter {
      width: 74px;
      margin-left: 126px;
    }

    .page-tile {
      width: 74px;
      margin-left: 126px;
    }

    .tile-top,
    .til-bottom {
      padding-left: 10px;
    }

    .tile-name {
      padding-right: 10px;
    }

    .tile-right {
      display: none;
    }
  }

  .gutter {
    width: 100%;
    height: 26px;
    background: $transparent;
    &.drag-over, &.again-drag-over {
      background: url('/assets/gutter.png');
      background-repeat: no-repeat;
      background-position: right;
      background-size: 100%;
    }
    &.with-children {
      &.drag-over, &.again-drag-over {
        background-size: calc(100% - 22px);
      }
    }
  }

  .parent {
    > div {
      display: inline-block;
      width: 240px;
      vertical-align: top;
      .level-support {
        width: 40px;
        background: $transparent;
        height: 87px;
        position: absolute;
        right: -40px;
        top: 0;
        z-index: 2;
        &:before {
          content: ' ';
          position: absolute;
          top: 50%;
          left: 0;
          height: 1px;
          width: 100%;
          margin-top: -.5px;
          background: #d5d7da;
        }
        &.drag-over, &.again-drag-over {
          &:before {
            opacity: 0;
          }
          background: url('/assets/level-support.png');
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &:last-child {
        .level-support {
          display: none;
        }
      }
    }

    .page-container {
      float: left;
      width: 200px;
      position: relative;
    }

    &.parent-1 {
      .level-support {
        display: none;
      }
    }
  }
}

.page-container-wrapper {
  &.dragging {
    display: none !important;
  }
}

.child-page {
  &.dragging {
    display: none !important;
  }
}

.parent-0 {
  > .child-page {
    &.dragging {
      display: inline-block !important;
      vertical-align: top;
    }
  }
}

.sitemap-left-sidebar {
  position: fixed;
  width: 372px;
  background: #262b30;
  height: calc(100% - 222px);
  top: 0;
  left: 0;
  overflow: hidden;
  top: 222px;
  z-index: 11;
  transition: .35s;
  border-top: solid 1px #171a1d;
  ~ .sitemap-sections .page-container-wrapper .page-container.level-0 {
    padding-left: 372px;
  }

  &.expand-false {
    cursor: pointer;
    width: 30px;
    ~ .sitemap-sections .page-container-wrapper .page-container.level-0 {
      padding-left: 40px;
    }
  }

  &.toggle {
    top: 127px;
    height: calc(100% - 127px);
  }

  .expand-btn {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    text-align: center;
    span {
      color: #6a717f;
      text-transform: uppercase;
      font-size: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -7px;
      margin-left: -19px;
      @include rotate(90deg);
      &:before,
      &:after {
        content: "\e904";
        position: absolute;
        font-size: 10px;
        z-index: 2;
        font-family: 'icomoon' !important;
        left: -25px;
        @include rotate(180deg);
      }
      &:after {
        right: -25px;
        left: auto;
      }
    }
    &:hover {
      span {
        color: $primaryWhite;
      }
    }
  }
}

.page-type-preview {
  width: 135px;
}

.page-type-list, .page-type-preview {
  padding: 0;
  margin: 0;
  height: calc(100vh - 320px);
  overflow-y: auto;
  li {
    float: left;
    width: 50%;
    height: 112px;
    padding: 17px 25px 12px 25px;
    border-right: 1px solid #171a1d;
    border-bottom: 1px solid #171a1d;
    text-align: center;
    color: $primaryLink;
    font-size: 14px;
  }

  .page-type-box {
    font-family: "proxima-nova",sans-serif;
    height: 60px;
    background: $primaryWhite;
    @include border-radius(3px);
    padding-left: 15px;
    text-align: left;
    position: relative;
    border-top: solid 1px #a1a3a5;
    border-bottom: solid 1px #a1a3a5;
    @include animate(.25s);
    cursor: pointer;
    &:hover {
      @include scale(1.07);
    }
  }

  .dummy-number {
    font-size: 8px;
    color: #858a9c;
  }

  h5 {
    font-size: 8px;
    margin: 0;
    color: #535c63;
    font-weight: 600;
  }

  .dummy-id {
    color: #b7b6bc;
    font-size: 7px;
    position: absolute;
    bottom: 5px;
    left: 15px;
    z-index: 2;
  }

  .dummy-state {
    width: 4px;
    height: 4px;
    display: inline-block;
    margin-right: 1px;
    @include border-radius(50%);
    background: #b7b6bc;
  }

  h4 {
    margin: 0;
    color: $primaryGrey;
    font-size: 11px;
    font-weight: 500;
    margin-top: 10px;
    text-transform: uppercase;
  }

  .page-type-details {
    padding-right: 50px;
  }

  .page-type-icon {
    position: absolute;
    right: 0;
    width: 45px;
    height: 100%;
    top: 0;
    border-left: solid 1px #fafafc;
  }
}

.page-type-wrapper {
  &.dragging {
    .page-type-box {
      border-color: #1D2124;
      background: #1D2124;
      @include animate(none);
      &:after {
        content: ' ';
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        background: #1D2124;
        @include border-radius(6px);
        z-index: 4;
      }
      &:before {
        content: ' ';
        right: 45px;
        top: 0;
        width: 1px;
        height: 100%;
        background: #1F2326;
        position: absolute;
        z-index: 5;
      }
    }
  }
}

.search-page-type {
  height: 50px;
  border-top: solid 1px #171a1d;
  border-bottom: 1px solid #171a1d;
  position: relative;
  input {
    font-size: 14px;
    color: $primaryWhite;
    height: 48px;
    padding: 0 50px 0 25px;
    line-height: 48px;
    width: 100%;
    border: 0;
    background: #262B30;
  }

  label {
    position: absolute;
    right: 25px;
    top: 16px;
    z-index: 2;
    color: #c9cbcc;
    font-size: 16px;
  }

  input::-webkit-input-placeholder {
    color: $primaryWhite;
    opacity: 1;
    font-size: 14px;
    letter-spacing: 0;
  }

  input::-moz-placeholder {
    color: $primaryWhite;
    opacity: 1;
    font-size: 14px;
    letter-spacing: 0;
  }

  input:-ms-input-placeholder {
    color: $primaryWhite;
    opacity: 1;
    font-size: 14px;
    letter-spacing: 0;
  }

  input:-moz-placeholder {
    color: $primaryWhite;
    opacity: 1;
    font-size: 14px;
    letter-spacing: 0;
  }
}

.close-left-bar {
  height: 50px;
  color: $primaryWhite;
  padding: 15px 25px 15px 22px;
  span.cursor {
    color: $primaryFormColor;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 1px;
    min-width: 108px;
    &:hover {
      color: $primaryWhite;
      .caret-left {
        color: $primaryWhite;
        font-size: 12px;
      }
    }
  }
  span.last-updated {
    font-size: 12px;
    color: $primaryGrey;
    margin-top: 1px;
    position: absolute;
    right: 25px;
    min-width: 215px;
  }
  .caret-left {
    @include rotate(90deg);
    display: inline-block;
    margin-right: 3px;
    font-size: 11px;
    position: relative;
    bottom: 1px;
  }
}

@mixin pageTypeIcon($iconPath) {
  background: url($iconPath);
  background-size: 65%;
  background-position: center center;
  background-repeat: no-repeat;
}

.General-2-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/General-2.svg');
  }
}

.blog-post-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/Blog-Post.svg');
  }
}

.blog-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/Blog.svg');
  }
}

.general-1-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/General-1.svg');
  }
}

.calendar-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/Calendar.svg');
  }
}

.checkout-payment-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/Checkout-payment.svg');
  }
}

.confirmation-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/Confirmation.svg');
  }
}

.contact-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/Contact.svg');
  }
}

.dashboard-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/Dashboard.svg');
  }
}

.download-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/Download.svg');
  }
}

.error-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/Error.svg');
  }
}

.event-detail-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/Event-detail.svg');
  }
}

.events-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/Events.svg');
  }
}

.external-link-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/External-link.svg');
  }
}

.faqs-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/FAQs.svg');
  }
}

.features-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/Features.svg');
  }
}

.form-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/Form.svg');
  }
}

.gallery-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/Gallery.svg');
  }
}

.landing-page-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/Landing-Page.svg');
  }
}

.legal-terms-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/Legal-terms.svg');
  }
}

.listing-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/Listing.svg');
  }
}

.loading-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/Loading.svg');
  }
}

.login-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/Log-in.svg');
  }
}

.modal-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/Modal.svg');
  }
}

.portfolio-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/Portfolio.svg');
  }
}

.pricing-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/Pricing.svg');
  }
}

.product-clothing-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/Product-Clothing.svg');
  }
}

.product-electronics-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/Product-Electronics.svg');
  }
}

.product-general-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/Product-General.svg');
  }
}

.product-shoes-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/Product-Shoes.svg');
  }
}

.reviews-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/Reviews.svg');
  }
}

.settings-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/Settings.svg');
  }
}

.shop-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/Shop.svg');
  }
}

.shop-categories-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/Shop-Categories.svg');
  }
}

.shopping-cart-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/Shopping-Cart.svg');
  }
}

.support-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/Support.svg');
  }
}

.team-member-profile-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/Team-member.svg');
  }
}

.team-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/team.svg');
  }
}

.thank-you-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/Thank-you.svg');
  }
}

.upload-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/Upload.svg');
  }
}

.video-icon {
  &.tile-right,
  .page-type-icon {
    @include pageTypeIcon('/assets/Video.svg');
  }
}

.parent {
  position: relative;
  &:before {
    background: #d5d7da none repeat scroll 0 0;
    content: " ";
    height: calc(100% - 87px);
    left: 9px;
    position: absolute;
    top: 0;
    width: 1px;
  }
  &.parent-0 {
    &:before {
      display: none;
    }
  }
  &.parent-2 {
    &:before {
      left: 27px;
    }
  }
  &.parent-3 {
    &:before {
      left: 45px;
    }
  }
  &.parent-4 {
    &:before {
      left: 63px;
    }
  }

  &.parent-5 {
    &:before {
      left: 81px;
    }
  }
  &.parent-6 {
    &:before {
      left: 99px;
    }
  }
}

.hide-before {
  background: $pageBackground;
  content: " ";
  height: 100%;
  position: absolute;
  top: -87px;
  width: 1px;
  z-index: 10;
}

.child-page:last-child {
  position: relative;
  > .page-container-wrapper,
  > .custom-drag-preview {
    > .page-container {
      > .parent-2 {
        > .child-page:before {
          @extend .hide-before;
          left: 9px;
        }
      }
      > .parent-3 {
        > .child-page:before {
          @extend .hide-before;
          left: 27px;
        }
      }
      > .parent-4 {
        > .child-page:before {
          @extend .hide-before;
          left: 45px;
        }
      }
      > .parent-5 {
        > .child-page:before {
          @extend .hide-before;
          left: 63px;
        }
      }
      > .parent-6 {
        > .child-page:before {
          @extend .hide-before;
          left: 81px;
        }
      }
      > .parent-7 {
        > .child-page:before {
          @extend .hide-before;
          left: 99px;
        }
      }
      > .parent-8 {
        > .child-page:before {
          @extend .hide-before;
          left: 117px;
        }
      }
      > .parent-9 {
        > .child-page:before {
          @extend .hide-before;
          left: 135px;
        }
      }
    }
  }
}

.react-header {
  background: $primaryBlack;
  position: fixed;
  top: 95px;
  z-index: 12;
  height: 127px;
  left: 0;
  width: 100%;
  padding: 40px 30px;
  transition: top .35s;
  -moz-transition: top .35s;
  -webkit-transition: top .35s;

  .toggle-header {
    position: absolute;
    right: 0;
    width: 85px;
    height: 100%;
    border-left: solid 1px #171A1D;
    color: #414952;
    top: 0;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 48px;
    div {
      position: relative;
      bottom: 3px;
    }
    &:hover {
      color: $primaryPink;
    }
    .caret-up {
      transform: rotate(180deg);
    }
  }

  .site-map-name {
    color: #56626F;
    font-size: 30px;
    background: $transparent;
    border: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    height: 38px;
    font-weight: 400;
    width: calc(100% - 75px);
    margin: 2px 0 0 0;
    cursor: pointer;
    &.truncate {
      max-width: 100%;
    }
  }

  input.site-map-name {
    position: relative;
    bottom: 2px;
    border-bottom: solid 1px #56626F;
    color: $primaryWhite;
    width: 280px;
    cursor: text;
  }

  .logo-dark {
    background: url('/assets/timblee-icon-dark.svg');
    width: 45px;
    background-size: 45px 41px;
    display: inline-block;
    height: 41px;
    margin-right: 30px;
    vertical-align: middle;
  }

  .state-status {
    position: relative;
    h5 {
      color: $primaryGrey;
      margin: 0;
      font-weight: 400;
      font-size: 14px;
      margin-top: 15px;
      cursor: pointer;
      position: relative;
      padding-bottom: 20px;
      .icon-caret {
        font-size: 11px;
        margin-left: 9px;
      }
      > span {
        display: inline-block;
        position: relative;
        &:before {
          content: ' ';
          width: 10px;
          height: 10px;
          @include border-radius(50%);
          background: $primaryBlue;
          left: -20px;
          top: 50%;
          margin-top: -5px;
          position: absolute;
        }
        &.Review {
          &:before {
            background: $primaryYellow;
          }
        }
        &.Approved {
          &:before {
            background: $primaryGreen;
          }
        }
        &.Hold {
          &:before {
            background: #A3ACB5;
          }
        }
      }
      &:hover {
        ul {
          visibility: visible;
          top: 30px;
          opacity: 1;
        }
      }
    }
  }

  .saved-status {
    cursor: auto;
    padding-top: 12px;
    color: $primaryGrey;
    i {
      color: $primaryPink;
      position: relative;
      margin: 0 3px 0 0;
      top: 1.5px;
    }
  }

  .state-drop-down {
    position: absolute;
    width: 170px;
    background: $primaryWhite;
    left: -35px;
    top: 20px;
    @include animate(.35s);
    @include box-shadow(1px, 1px, 2px, rgba(106, 113, 127, .2));
    opacity: 0;
    padding: 0;
    visibility: hidden;
    border: solid 1px #F0F0F2;
    border-top: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    .icon-save-circle {
      display: none;
    }
    .active {
      position: relative;
      .icon-save-circle {
        display: block;
        font-size: 16px;
        color: $primaryPink;
        position: absolute;
        right: 17px;
        top: 50%;
        margin-top: -7px;
      }
    }
    .sitemap-state {
      height: 60px;
      border-top: solid 1px #F0F0F2;
      padding: 0 20px 0 40px;
      line-height: 59px;
      text-align: left;
      cursor: pointer;
      font-size: 12px;
      color: $primaryGrey;
      position: relative;
      &:hover {
        color: $primaryPink;
      }
      .state-indicator {
        position: absolute;
        left: 20px;
        top: 50%;
        width: 12px;
        height: 12px;
        margin-top: -6px;
        border: 2px solid #F2F3F4;
        @include border-radius(50%);
        background: $primaryBlue;
        &.Review {
          background: $primaryYellow;
        }
        &.Approved {
          background: $primaryGreen;
        }
        &.Hold {
          background: #A3ACB5;
        }
      }
    }
  }

}

.hide-header {
  padding-top: 0;
  .main-header {
    top: -95px;
  }
  .react-header {
    top: 0;
  }
  .sitemap-left-sidebar,
  .sitemap-right-sidebar {
    top: 127px;
    height: calc(100% - 127px);
  }
  .comment-list {
    top: 127px;
  }
}

/* Comments */
.sitemap-right-sidebar {
  position: fixed;
  right: 0;
  width: 420px;
  top: 222px;
  height: calc(100% - 222px);
  background: #262b30;
  z-index: 11;
  transition: .35s;
  box-shadow: 0px 0px 20px 7px rgba(147, 147, 147, 1);
  overflow-y: auto;
  padding-top: 60px;
}

.comment-list {
  height: 60px;
  border-bottom: solid 1px #171a1d;
  padding: 0 63px;
  margin: 0;
  position: fixed;
  width: 420px;
  border-top: solid 1px #171a1d;
  right: 0;
  top: 222px;
  background: #262b30;
  z-index: 5;
  @include animate(.35s);
  .animated-bar-react {
    position: absolute;
    left: 63px;
    bottom: -2px;
    height: 3px;
    width: 60px;
    background: $primaryWhite;
    z-index: 3;
  }
  li:not(.animated-bar-react) {
    cursor: pointer;
    color: $primaryFormColor;
    @extend .font-14;
    padding: 0 10px;
    float: none;
    display: inline-block;
    width: auto;
    text-align: center;
    text-transform: capitalize;
    height: 60px;
    line-height: 60px;
    &.active {
      color: $primaryWhite;
      font-weight: 700;
    }
    + li:not(.animated-bar-react) {
      margin-left: 33px;
    }
  }
}

.comment-inner-body {
  padding: 0 19px;
  ul {
    padding: 0;
  }

  .watermark_container,
  .comment-input {
    display: block!important;
    color: #262b30!important;
  }

  label.watermark {
    z-index: 4;
    font-weight: 400;
    width: calc(100% - 26px)!important;
    margin-bottom: 0!important;
    height: calc(100% - 20px)!important;
    top: 15px!important;
    left: 15px!important;
    color: #dadada!important;
  }

  .comment-input {
    textarea {
      height: 180px!important;
      padding: 10px 13px!important;
      width: 100%!important;
      @include border-radius(4px);
      border: 1px solid #4d4d4d!important;
      resize: none!important;
      margin: 24px 0!important;
      background: $primaryWhite!important;
      position: relative!important;
      bottom: auto!important;
      top: auto!important;
      left: auto!important;
      right: auto!important;
    }
  }
}

.comment-type-heading {
  padding: 0 29px;
  color: $primaryWhite;
  font-weight: 700;
  @extend .font-14;
  padding-bottom: 10px;
  border-bottom: solid 1px #171a1d;
  margin: 0;
}

.comment-text {
  @extend .font-12;
  color: $primaryGrey;
  padding: 24px 26px;
  margin: 0;
}

.comment-group {
  margin: 0;
  position: relative;
  &:before {
    background: #171a1d;
    content: "";
    height: 100%;
    left: 40px;
    position: absolute;
    top: 0;
    width: 2px;
    z-index: 3;
  }
  .user-comment-image {
    width: 36px;
    height: 36px;
    @include border-radius(50%);
    border: solid 1px #171a1d;
    position: absolute;
    left: 23px;
    top: 0;
    z-index: 4;
  }
  li {
    position: relative;
    padding-left: 73px;
    padding-right: 24px;
    + li {
      margin-top: 50px;
    }
    &:first-child {
      margin-top: 17px;
    }
  }
  h6 {
    position: absolute;
    right: 24px;
    top: 0;
    font-size: 10px;
    color: #6a717f;
    font-weight: 400;
    margin: 0;
  }
  h4 {
    font-size: 10px;
    color: #6a717f;
    margin: 0 0 3px 0;
    font-weight: 400;
  }
  p {
    @extend .font-14;
    color: $primaryWhite;
    margin: 0;
  }
}

.page-comment-details {
  padding: 15px 28px 9px 28px;
  border-bottom: solid 1px #171a1d;
  .page-name {
    color: $primaryWhite!important;
    @extend .font-14;
    margin: 0;
    max-width: 185px;
    font-weight: 700;
  }
  .page-id {
    display: block;
    font-size: 10px;
    color: $primaryGrey;
  }
  label {
    color: $primaryGrey;
    @extend .font-14;
    font-weight: 400;
    margin: 0;
    input {
      width: 16px;
      height: 16px;
      margin: 0 0 0 7px;
      background: $primaryGrey;
      position: relative;
      top: 1px;
    }
  }
}

.add-remove-comment {
  position: absolute;
  bottom: 32px;
  left: 17px;
  color: $primaryLabel;
  .add, .cancel {
    color: $primaryGrey;
    @extend .font-14;
  }
  .or {
    padding: 0 2px;
  }
  .add {
    font-weight: 700;
  }
}

.comment-input__suggestions__list {
  border: 1px solid black;
  .comment-input__suggestions__item {
    &.comment-input__suggestions__item--focused {
      background: $primaryGrey;
    }
  }
}
