.small-font {
  font-size: 12px;
  line-height: 18px;
}

.more-options {
  position: absolute;
  bottom: 16px;
  right: 15px;
  z-index: 1;
  width: 28px;
  height: 28px;
  background: $transparent;
  @include border-radius(50%);
  border: 1px solid #DADBDD;
  display: inline-block;
  text-align: center;
  span {
    width: 3px;
    height: 3px;
    @include border-radius(50%);
    background: #DADBDD;
    display: inline-block;
    margin: 0 -.5px;
    position: relative;
    top: .5px;
    &:first-child {
      margin-left: .5px;
    }
  }
  &:hover {
    border-color: $primaryPink;
    span {
      background: $primaryPink;
    }
  }
}

.user-dashboard {
  padding-top: 100px;
  padding-bottom: 100px;
  .folders {
    width: 320px;
    margin-right: 90px;
  }
  .sitemap-cards {
    width: 705px;
    .row {
      margin: 0 -10px;
    }
    .sitemap-container {
      &.ui-draggable-dragging {
        transform: rotate(-2deg);
        z-index: 2;
      }
    }
  }
  .sitemap-outer-wrapper {
    margin-bottom: 30px;
  }

  .site-card {
    height: 230px;
    background: $primaryWhite;
    @include border-radius(6px);
    padding: 15px;
    @include box-shadow(1px, 1px, 2px, rgba(106, 113, 127, .2));
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &.new_sitemap-link, .sitemap-error-link {
      cursor: pointer;
    }
    &.cloned {
      width: 210px;
      pointer-events: none;
      display: inline-block;
      margin-bottom: 35px;
      .actions-overlay {
        text-align: left;
        top: 100%!important;
      }
      .more-options {
        pointer-events: none;
      }
    }
  }

  .site-map-clone {
    text-align: center;
    .site-card {
      text-align: left;
    }
  }

  h1 {
    font-weight: 400;
    margin-top: 0;
  }

  .sitemap-link {
    height: 100%;
    width: 100%;
  }

  .card-name {
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    padding: 45px 0 5px 0;
    font-weight: 400;
    word-wrap: break-word;
  }
  .updated {
    font-size: 10px;
    line-height: 16px;
    margin: 0 0 2px 0;
    color: $primaryLabel;
  }
  .actions {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border-top: solid 1px #dbdddf;
    padding: 15px;
  }
  .card-users {
    padding: 0;
    li {
      list-style: none;
      float: left;
      + li {
        margin-left: 5px;
      }
    }
    img {
      width: 28px;
      height: 28px;
      @include border-radius(50%);
    }
  }
  .actions-overlay {
    .icon-close {
      color: #d7d9dc;
    }
    position: absolute;
    left: 0;
    top: 230px;
    width: 100%;
    height: 100%;
    background: $primaryWhite;
    @include border-radius(6px);
    z-index: 2;
    @include animate(.25s);
    padding: 15px;
    opacity: 1;
    .action {
      font-size: 12px;
      line-height: 18px;
      color: $primaryGrey;
      position: relative;
      &:hover {
        color: $primaryPink;
        .icon-invite-female .path1:before,
        .icon-invite-female .path3:before,
        .icon-invite-female .path4:before,
        .icon-invite-female .path5:before {
          color: $primaryPink;
        }
      }
    }
    .action-icon {
      width: 28px;
      margin: -1px 6px 0 0;
    }
    li + li {
      margin-top: 11px;
    }
  }
  .other-users {
    position: absolute;
    left: 115px;
    top: 20px;
    @extend .small-font;
    color: $primaryLabel;
  }
  .close-action-overlay {
    position: absolute;
    right: 15px;
    bottom: 16px;
    img {
      width: 28px;
    }
    &:hover {
      .icon-close {
        color: $primaryPink;
      }
    }
  }
  .state {
    position: absolute;
    width: 8px;
    height: 8px;
    @include border-radius(50%);
    background: $primaryLabel;
    right: 15px;
    top: 15px;

    &.on_hold {
      background: $primaryLabel;
    }

    &.in_progress {
      background: $primaryBlue;
    }

    &.in_review {
      background: $primaryYellow;
    }

    &.approved {
      background: $primaryGreen;
    }
  }
}

.folders-list {
  .folder-icon {
    width: 26px;
    margin: -1px 8px 0 0;
  }
  .folder-items {
    width: 25px;
    text-align: right;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 7px;
  }
  .folder-name {
    width: 211px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    .folder-name-field {
      height: 30px;
    }
  }
  .folder-info {
    padding: 5px 10px;
    position: relative;
    cursor: pointer;
    &.active {
      background: $primaryWhite;
      border: solid 1px #f0f1f3;
      @include border-radius(6px);
      a, div.folder-info-block {
        color: $primaryGrey;
      }
    }
    &.active-delete {
     a, div.folder-info-block {
        color: $primaryGrey;
      }
    }
    &.dragging-over {
      background: $primaryWhite;
      @include border-radius(6px);
      @include box-shadow(1px, 1px, 2px, rgba(106, 113, 127, .2));
      a, div.folder-info-block {
        color: $primaryGrey;
        background: $primaryWhite;
      }
      [class^="icon-"], .folder-info-block [class*=" icon-"] {
        color: $primaryGrey;
      }
    }
  }
  a, div.folder-info-block {
    font-size: 14px;
    line-height: 26px;
    color: $primaryLabel;
    &:hover {
      .icon-folder-light,
      .icon-all-folders {
        color: $primaryGrey;
      }
      color: $primaryGrey;
    }
  }
  .folder-info-block {
    display: inline-block;
    height: 29px;
    background: $pageBackground;
    @include animate(.25s);
  }
}

.new-folder {
  padding: 0 10px 5px 10px;
  .form-control {
    background: $primaryWhite;
    border: 1px dashed #b0b3bb;
    height: 39px;
  }
}

.delete-folder {
  width: 0;
  cursor: pointer;
  height: 12px;
  width: 12px;
  position: absolute;
  opacity: 0;
  top: 13px;
  transition: opacity .25s;
  -moz-transition: opacity .25s;
  -webkit-transition: opacity .25s;
  &.open {
    opacity: 1;
    + .folder-info-block {
      margin-left: 23px;
    }
  }
  &.with-bg {
    background: url('/assets/close.png');
    background-size: 12px 12px;
    background-size: 100%;
  }
  &:hover {
    background-position: 0 -12px;
  }
}

.folder-name-to-delete, .invite-name-to-revoke, .user-name-to-delete {
  background: $primaryWhite;
  padding: 24px 19px 22px 19px;
  @include border-radius(6px);
  display: inline-block;
  margin-bottom: 30px;
  border: 1px solid #d4d4d4;
  color: #535353;
  font-size: 18px;
  line-height: 24px;
  [class^="icon-"], [class*=" icon-"] {
    font-size: 25px;
    color: #535353;
    vertical-align: middle;
    padding-right: 5px;
    display: inline-block;
    position: relative;
    bottom: 2px;
  }
}

.new_sitemap_link, .sitemap-error-link {
  text-align: center;
  color: $primaryLabel;
  font-size: 14px;
  @include animate(.25s);
  span {
    color: $primaryPink;
    font-size: 31px;
    display: inline-block;
    padding-top: 68px;
    padding-bottom: 7px;
  }
  &:hover,
  &:focus {
    color: $primaryPink;
  }
  &:hover {
    @include box-shadow(0, 0, 8px, #cccccc);
  }
}

.folder-info-block {
  [class^="icon-"], [class*=" icon-"] {
    font-size: 28px;
    vertical-align: middle;
    padding-right: 10px;
    display: inline-block;
    color: $primaryLabel;
  }
}

.active-delete {
  .folder-info-block {
    [class^="icon-"], [class*=" icon-"] {
      color: $primaryGrey;
    }
  }
}

.sitemap_wrapper {
  border: 1px dashed $transparent;
  &.dragging {
    @include border-radius(6px);
    border-color: #d8dadc;
    background: $pageBackground;
  }
}

#delete-sitemap-modal {
  .modal-dialog {
    @include alignCenter(-310px, -264px);
  }
}

#sitemap_name {
  width: 100%;
  border: 0;
}

.icon.icon-duplicate {
  font-size: 34px;
  position: relative;
  left: -4px;
  + .link-text {
    top: -11px;
    left: 0;
  }
}

.emojiPickerIconWrap {
  width: 100%
}

.emoji-decorated {
  width: 100% !important;
}
