* { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
body { margin: 0; padding: 0; font-family: "proxima-nova",sans-serif; background: #f8f9fc; }
h1 { text-align: center; margin: 0 0 20px 0; padding: 20px; border-bottom: solid 1px #ececec; color: #EC008C; }
.pl-100 { padding-left: 100px; }

/* Flow Chart Section */
#flow-chart { padding: 10px;}
#tile-blueprint-action, #tile-blueprint-decision, #tile-blueprint-conclusion, #tile-blueprint-page { display: none; }
#tile-container{ position: relative; }
.screen-tile-container, .screen-tile-rounded-container { position: relative; width: 182px; height: 85px; display: inline-block; vertical-align: top; }
.screen-tile-svg, .screen-tile-rect { width: 182px; height: 85px; }
.screen-tile-svg-clone { width: 100%; height: 100%; top: 0; left: 0; box-shadow: 0 0 20px rgba(222,222,222,50); -moz-box-shadow: 0 0 20px rgba(222,222,222,50); -webkit-box-shadow: 0 0 20px rgba(222,222,222,50); border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; position: absolute; z-index: 1; background: #ffffff; }
.screen-tile-right, .screen-tile-right-hover { position: absolute; right: 0; width: 54px; height: 100%; top: 0; border-left: solid 2px #f9fafc; z-index: 2; background: #ffffff; border-top-right-radius: 5px; -moz-border-top-right-radius: 5px; -webkit-border-top-right-radius: 5px; border-bottom-right-radius: 5px; -moz-border-bottom-right-radius: 5px; -webkit-border-bottom-right-radius: 5px; }
.screen-tile-right-hover { transform: scale(0); -moz-transform: scale(0); -webkit-transform: scale(0); visibility: hidden; opacity: 0; transition: .35s; -moz-transition: .35s; -webkit-transition: .35s; }
.screen-hover-options { background: #ffffff; height: 73px; width: 255px; position: absolute; box-shadow: 0 0 20px rgba(222,222,222,50); -moz-box-shadow: 0 0 20px rgba(222,222,222,50); -webkit-box-shadow: 0 0 20px rgba(222,222,222,50); left: -36px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; top: 100px; visibility: hidden; opacity: 0; transition: .5s; -moz-transition: .5s; -webkit-transition: .5s; z-index: 99; }
.default-screen-hover-options { background: #ffffff; min-height: 73px; width: 255px; position: absolute; box-shadow: 0 0 20px rgba(222,222,222,50); -moz-box-shadow: 0 0 20px rgba(222,222,222,50); -webkit-box-shadow: 0 0 20px rgba(222,222,222,50); left: 450px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; top: 100px; transition: .5s; -moz-transition: .5s; -webkit-transition: .5s; z-index: 99; }
.screen-hover-options:before { content: ' '; background: #ffffff; left: 50%; width: 20px; height: 20px; transform: rotate(45deg); position: absolute; top: -10px; margin-left: -10px; }
.screen-tile-container:hover .screen-hover-options { opacity: 1; visibility: visible; top: 105px; }
.screen-tile-container:hover .screen-tile-right-hover { opacity: 1; visibility: visible; z-index: 3; transform: scale(1); -moz-transform: scale(1); -webkit-transform: scale(1); }
.option { text-align: center; width: 25%; position: absolute; left: 0; top: 0; z-index: 1; height: 100%; display: table; }
.option-2 { left: 25%; }
.option-3 { left: 50%; }
.option-4 { left: 75%; }
.option .card-tooltip { background: #A3ACB5; letter-spacing: .1px; top: 67px; }
.option:hover .card-tooltip { top: 74px; opacity: 1; visibility: visible; }
.option .card-tooltip:before { border-color: transparent transparent #A3ACB5 transparent; }
.option-1 .card-tooltip { width: 70px; margin-left: -33px; }
.option-2 .card-tooltip { width: 115px; margin-left: -57px; }
.option-3 .card-tooltip { width: 70px; margin-left: -33px; }
.option-4 .card-tooltip { width: 70px; margin-left: -38px; }
.option img { width: 27px; height: 26px; vertical-align: middle; }
.option-link { display: table-cell; vertical-align: middle; }
.option-2 img { width: 23px; height: 26px; }
.option-3 img { width: 31px; height: 26px; }
.option-4 img { width: 26px; height: 26px; }
.default-screen-hover-options .option { width: 33.3333%; }
.default-screen-hover-options .option-2 { left: 33.3333%; }
.default-screen-hover-options .option-3 { left: 66.6666%; }
.right-options { position: absolute; top: 0; left: 0; width: 100%; height: 50%; display: table; text-align: center; }
.screen-tile-right-bottom { top: 50%; }
.right-option-link { display: table-cell; vertical-align: middle; position: relative; }
.right-option-link img { vertical-align: middle; position: absolute; left: 50%; top: 50%; }
.right-option-link img.pink { opacity: 0; }
.screen-tile-right-top img { width: 18px; height: auto; vertical-align: bottom; margin: 3px 0 0 -9px; }
.screen-tile-right-bottom img { width: 18px; height: 15px; vertical-align: top; margin: -11px 0 0 -9px; }
.screen-tile-right-top:hover img.grey, .screen-tile-right-bottom:hover img.grey { opacity: 0; }
.screen-tile-right-top:hover img.pink, .screen-tile-right-bottom:hover img.pink { opacity: 1; }
.screen .screen-tile-right-icon { background-size: 50%!important; }
.screen-tile-right-icon { position: absolute; width: 100%; text-align: center; left: 0; height: 25px; top: 50%; margin-top: -12px }
.screen-tile-right-icon img { width: 25px; height: auto; }
.screen-tile-type { position: absolute; bottom: 0; font-size: 8px; color: #9B9B9B; text-transform: uppercase; font-weight: 600; width: 128px; padding: 0 0 5px 10px; }
.screen-comment-indicator { width: 4px; height: 4px; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; background: #62717F; display: inline-block; position: relative; bottom: 1px; margin-right: 1px; }
.screen-tile-svg-clone textarea, .screen-type-text { position: absolute; left: 0; width: 128px; font-size: 12px; color: #545C64; font-weight: 600; line-height: 14px; padding: 17px 10px 0 10px; border: 0; }
.screen-type-text { word-wrap: break-word; }
.screen-tile-svg-clone textarea { height: 65px; resize: none; }
.screen-tile-container-rounded { position: relative; display: table; width: 121px; height: 50px; border-radius: 59px; -moz-border-radius: 59px; -webkit-border-radius: 59px; background: #ffffff; box-shadow: 1px 1px 3px 0 rgba(106,113,127,.2); -moz-box-shadow: 1px 1px 3px 0 rgba(106,113,127,.2); -webkit-box-shadow: 1px 1px 3px 0 rgba(106,113,127,.2); text-align: center; margin: 20px auto; border: 0; }
.screen-tile-container-rounded textarea { position: absolute; left: 0; top: 0; width: 100%; height: 100%; line-height: 47px!important; resize: none; text-align: center; border-radius: 59px; -moz-border-radius: 59px; -webkit-border-radius: 59px; border: 0; }
.screen-tile-container-rounded textarea, .screen-tile-rounded-text { font-size: 12px; font-weight: 700; color: #545C64; line-height: 14px; display: table-cell; vertical-align: middle; text-transform: capitalize; }
.screen-tile-container-rounded .screen-hover-options { top: 59px; left: 50%; margin-left: -127px; text-align: left; }
.screen-tile-container-rounded:hover .screen-hover-options { top: 64px; visibility: visible; opacity: 1; }
.screen-tile-rounded-container { text-align: center; }

/* Css For Screen When Starting FlowChart */
.default-screen-hover-options.basic { left: 50%; width: 285px; min-height: 72px; margin-left: -142px; top: 135px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.default-screen-hover-options.basic .option { position: relative; left: auto; float: left; height: 72px; }
.default-screen-hover-options.basic .option img { width: 41px; height: 38px; }
.default-screen-hover-options.basic .option-2 img { width: 34px; height: 38px; }
.default-screen-hover-options.basic .option-3 img { width: 45px; height: 38px; }
.starter-text { position: absolute; left: 0; top: 0; width: 100%; height: auto; color: #A3ACB5; font-size: 18px; line-height: 24px; text-align: center; top: 87px; font-weight: 300; }
/* Css For Screen When Starting FlowChart */

/* Css For Search Screen Dropdown */
.add-screen-dropdown { background: #ffffff; }
.search-screen-input { height: 41px; width: 100%; margin: 0; border-top: solid 1px #D6D8DA; border-bottom: solid 1px #D6D8DA; line-height: 41px; padding: 0 28px; border-left: 0; border-right: 0; }
.screens-list { padding: 0 28px; margin: 0; max-height: 258px; overflow-y: auto; }
.screens-list li { cursor: pointer; }
.new-screens { border-top: solid 1px #D6D8DA; padding-top: 12px; margin-top: 6px; }
.dropdowns h4 { font-size: 13px; color: #414952; font-weight: normal; margin: 10px 0; padding-left: 28px; padding-right: 28px; font-weight: normal; }
.dropdowns li { color: #62717F; font-size: 13px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: inline-block; width: 95%; }
.dropdowns li:hover { color: #EC008C; }
/* Css For Search Screen Dropdown */

/* Css For More Options */
.screen-tile-more { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #ffffff; z-index: 3; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding: 20px 21px 18px 21px; visibility: hidden; opacity: 0; transition: .35s; -moz-transition: .35s; -webkit-transition: .35s; }
.screen-tile-container.options-open .screen-tile-more { visibility: visible; opacity: 1; }
.screen-tile-container.options-open .screen-hover-options { visibility: hidden; opacity: 0; top: 100px; }
.more-options-list { margin: 0; padding: 0; position: absolute; left: 21px; bottom: 18px; width: 145px; z-index: 3; }
.more-options-list li { width: 19px; float: left; text-align: left; position: relative; }
.more-options-list .node-icon  { display: block; cursor: pointer; }
.screen-comment-node .node-icon { background: url(/assets/screen-comments.png); background-size: 100%; width: 18px; height: 15px; }
.screen-comment-node .node-icon:hover { background-position: 0 -16.5px; }
.screen-change-node .node-icon { background: url(/assets/change-screen-type.png); background-size: 100%; width: 17px; height: 15px; }
.screen-change-node .node-icon:hover { background-position: 0 -16.5px; }
.screen-new-node .node-icon { background: url(/assets/new-user-flow.png); background-size: 100%; width: 19px; height: 15px; }
.screen-new-node .node-icon:hover { background-position: 0 -16.5px; }
.screen-delete-node .node-icon { background: url(/assets/delete-screen-type.png); background-size: 100%; width: 13px; height: 15px; }
.screen-delete-node .node-icon:hover { background-position: 0 -16.5px; }
.screen-comment-node { width: 18px!important; }
.screen-change-node { width: 17px!important; margin-left: 24px; }
.screen-new-node { width: 19px!important; margin-left: 24px; }
.screen-delete-node { width: 13px!important; margin-left: 24px; }
.close-options { background: url('/assets/close-options.png'); background-size: 100%; position: absolute; right: 23px; top: 20px; width: 9px; height: 9px; }
.close-options:hover { background-position: 0 -10px; }
.card-tooltip { background: #EC008C; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; color: #ffffff; font-size: 12px; height: 30px; line-height: 8px; padding: 10px; position: absolute; text-align: center; top: 28px; font-family: "proxima-nova",sans-serif!important; width: auto; transition: .5s; -moz-transition: .5s; -webkit-transition: .5s; left: 50%; z-index: 10; white-space: nowrap; margin-left: -61px; }
.card-tooltip:before { content: ' '; position: absolute; left: 50%; top: -8px; margin-left: -12px; width: 0; height: 0; border-style: solid; border-width: 0 12px 14px 12px; border-color: transparent transparent #EC008C transparent; }
.node-icon:hover + .card-tooltip { opacity: 1; visibility: visible; }
.node-icon:hover + .card-tooltip { top: 33px; }
.screen-change-node .card-tooltip { margin-left: -65px; background: #067AB4; }
.screen-change-node .card-tooltip:before { border-color: transparent transparent #067AB4 transparent; }
.screen-new-node .card-tooltip { margin-left: -50px; background: #2CA15F; }
.screen-new-node .card-tooltip:before { border-color: transparent transparent #2CA15F transparent; }
.screen-delete-node .card-tooltip { margin-left: -28px; background: #E2232E; }
.screen-delete-node .card-tooltip:before { border-color: transparent transparent #E2232E transparent; }
.action .screen-comment-node, .decision .screen-comment-node { margin-left: 42px; }
/* Css For More Options */

.screen-hover-options .add-screen-dropdown { padding-top: 73px; }
.default-screen-hover-options .option { position: relative; }
.default-screen-hover-options .addInitialDecision img, .default-screen-hover-options .addInitialAction img { position: absolute; left: 50%; top: 50%; }
.default-screen-hover-options .addInitialDecision .colored, .default-screen-hover-options .addInitialAction .colored { opacity: 1; }
.default-screen-hover-options .addInitialDecision .grayscale, .default-screen-hover-options .addInitialAction .grayscale { opacity: 0; }
.default-screen-hover-options .addInitialDecision img { margin-left: -17px; margin-top: -19px; }
.default-screen-hover-options .addInitialAction img { margin-left: -22px; margin-top: -19px; }
.show-dropdown .colored { opacity: 0!important; }
.show-dropdown .grayscale { opacity: 1!important; }
.show-dropdown .addInitialDecision, .show-dropdown .addInitialAction { pointer-events: none; }
