/* Global Styles */
*:focus,
*:active,
*:visited {
  outline: none!important;
  text-decoration: none!important;
}

body {
  background: $pageBackground;
  font-family: "proxima-nova",sans-serif;
  min-width: 1300px;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-t-35 {
  margin-top: 25px;
}

.p-r-0 {
  padding-right: 0;
}

.p-t-40 {
  padding-top: 40px;
}

.p-t-50 {
  padding-top: 50px;
}

.strong {
  font-weight: 700;
}

.container {
  width: 1145px;
}

.bg-white {
  background: $primaryWhite;
}

.form-control::-webkit-input-placeholder {
  color: $placeHolder;
  opacity: 1;
  font-size: 14px;
  letter-spacing: 0;
}

.form-control::-moz-placeholder {
  color: $placeHolder;
  opacity: 1;
  font-size: 14px;
  letter-spacing: 0;
}

.form-control:-ms-input-placeholder {
  color: $placeHolder;
  opacity: 1;
  font-size: 14px;
  letter-spacing: 0;
}

.form-control:-moz-placeholder {
  color: $placeHolder;
  opacity: 1;
  font-size: 14px;
  letter-spacing: 0;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: $primaryBlack;
  font-weight: 700;
}

h1 {
  font-size: 24px;
  line-height: 30px;
  color: $primaryBlack;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.form-control {
  height: 48px;
  border-color: $primaryGreyLight;
  @include box-shadow(0, 0, 0, $transparent);
  color: $primaryFormColor;
  padding: 6px 15px;
  &:focus {
    @include box-shadow(0, 0, 0, $transparent);
    border-color: $primaryPink;
    color: $primaryFormColor;
  }
}

input[type="password"] {
  letter-spacing: 2.5px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  &:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
  }
}

.btn {
  height: 48px;
  line-height: 37px;
}

.btn-pink {
  background: $transparent;
  border: 1px solid $primaryPink;
  color: $primaryPink;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 19px;
  @include animate(.25s);
  &:hover {
    background: $primaryPink;
    color: $primaryWhite;
  }
}

.link {
  color: $primaryLink;
  text-decoration: underline;
  font-weight: 700;
  &:hover {
    color: $primaryPink;
  }
}

.link-regular {
  font-size: 12px;
  color: $primaryLink;
  text-decoration: none;
  &:hover {
    color: $primaryPink;
    text-decoration: none;
  }
}

.main {
  min-width: 1300px;
}

.modal-backdrop {
  background: $primaryWhite;
  &.in {
    opacity: .85;
  }
}

.modal-dialog {
  width: 620px;
}

.modal-content {
  @include box-shadow(0, 0, 0, $transparent);
  border: 1px solid $primaryLabel;
  @include border-radius(10px);
}

.modal-header {
  border-bottom: 1px solid $primaryLabel;
}

.modal-title {
  font-size: 18px;
  line-height: 24px;
  padding: 30px 0 15px 0;
}

.modal-body {
  background: $pageBackground;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 37px 20px 50px 20px;
  .btn {
    height: 38px;
    line-height: 25px;
    min-width: 140px;
    display: inline-block;
  }
  .btn-last {
    margin-left: 20px;
  }
}

.close-modal {
  width: 15px;
  height: auto;
}

.modal-message {
  font-size: 14px;
  line-height: 20px;
  color: $primaryBlack;
}

.btn-red {
  background: $primaryRed;
  color: $primaryWhite;
  &:hover {
    color: $primaryWhite;
    background: darken($primaryRed, 10%);
  }
}

.btn-transparent {
  background: $transparent;
  color: $primaryBlack;
  border: 1px solid $primaryBlack;
  &:hover {
    background: $primaryWhite;
  }
}

.flash .message {
  position: fixed;
  padding: 25px 20px;
  background: #414952;
  color: $primaryWhite;
  font-size: 12px;
  line-height: 20px;
  top: 10px;
  right: 5px;
  @include border-radius(6px);
  z-index: 10;
}

.flash .close {
  position: absolute;
  top: 3px;
  right: 5px;
  opacity: 1;
  text-shadow: 0 0 0 transparent;
  font-size: 12px;
  color: #fff;
}

.modal-header .close {
  opacity: 1;
  position: absolute;
  right: 16px;
  float: none;
}

/* Classes */
.hide-me {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

input#toggle {
  max-height: 0;
  max-width: 0;
  opacity: 0;
}

input#toggle + label {
  display: block;
  position: relative;
  text-indent: -5000px;
  height: 33px;
  width: 65px;
  border-radius: 60px;
  border: 2px solid #e4e6e7;
}

input#toggle + label:before {
  content: "";
  position: absolute;
  display: block;
  height: 33px;
  width: 33px;
  top: -1px;
  left: 0;
  border-radius: 60px;
  background: $primaryPink;
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

input#toggle + label:after {
  content: "";
  position: absolute;
  display: block;
  height: 35px;
  width: 35px;
  top: -3px;
  left: -1px;
  border-radius: 60px;
  background: white;
  -moz-transition: .25s ease-in-out;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  border: 2px solid #e4e6e7;
}

input#toggle:checked + label:before {
  width: 60px;
  background: $primaryPink;
}

input#toggle:checked + label:after {
  left: 32px;
  top: -2px;
}

.logo-inner {
  width: 47px;
}

.truncate {
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}

.margin-top-small {
  margin-top: 2px;
}
