/* Global Styles */
*:focus,
*:active,
*:visited {
  outline: none!important;
}

body {
  background: $pageBackground;
  font-family: "proxima-nova",sans-serif;
  min-width: 1300px;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.m-b-10 {
  margin-bottom: 10px;
}

.p-r-0 {
  padding-right: 0;
}

.p-t-40 {
  padding-top: 40px;
}

.p-t-50 {
  padding-top: 50px;
}

.strong {
  font-weight: 700;
}

.container {
  width: 1145px;
}

.form-control::-webkit-input-placeholder {
  color: $placeHolder;
  opacity: 1;
  font-size: 14px;
}

.form-control::-moz-placeholder {
  color: $placeHolder;
  opacity: 1;
  font-size: 14px;
}

.form-control:-ms-input-placeholder {
  color: $placeHolder;
  opacity: 1;
  font-size: 14px;
}

.form-control:-moz-placeholder {
  color: $placeHolder;
  opacity: 1;
  font-size: 14px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: $primaryBlack;
  font-weight: 700;
}

h1 {
  font-size: 24px;
  line-height: 30px;
  color: $primaryBlack;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.form-control {
  height: 48px;
  border-color: $primaryGreyLight;
  @include box-shadow(0, 0, 0, $transparent);
  color: $primaryFormColor;
  padding: 6px 15px;
  &:focus {
    @include box-shadow(0, 0, 0, $transparent);
    border-color: $primaryPink;
  }
}

input[type="password"] {
  color: $password;
  font-size: 30px;
}

.btn {
  height: 48px;
  line-height: 37px;
}

.btn-pink {
  background: $transparent;
  border: 1px solid $primaryPink;
  color: $primaryPink;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  &:hover {
    background: $primaryPink;
    color: $primaryWhite;
  }
}

.link {
  color: $primaryLink;
  text-decoration: underline;
  font-weight: 700;
  &:hover {
    color: $primaryPink;
  }
}

.link-regular {
  font-size: 12px;
  color: $primaryLink;
  text-decoration: none;
  &:hover {
    color: $primaryPink;
    text-decoration: none;
  }
}

.main {
  min-width: 1300px;
}

.modal-backdrop {
  background: $primaryWhite;
  &.in {
    opacity: .85;
  }
}

.modal-dialog {
  width: 620px;
}

.modal-content {
  @include box-shadow(0, 0, 0, $transparent);
  border: 1px solid $primaryLabel;
  @include border-radius(10px);
}

.modal-header {
  border-bottom: 1px solid $primaryLabel;
}

.modal-title {
  font-size: 18px;
  line-height: 24px;
  padding: 30px 0 15px 0;
}

.modal-body {
  background: $pageBackground;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 37px 20px 50px 20px;
  .btn {
    height: 38px;
    line-height: 27px;
    min-width: 140px;
    display: inline-block;
  }
  .btn-last {
    margin-left: 20px;
  }
}

.modal-message {
  font-size: 14px;
  line-height: 20px;
  color: $primaryBlack;
}

.btn-red {
  background: $primaryRed;
  color: $primaryWhite;
  &:hover {
    color: $primaryWhite;
    background: darken($primaryRed, 10%);
  }
}

.btn-transparent {
  background: $transparent;
  color: $primaryBlack;
  border: 1px solid $primaryBlack;
  &:hover {
    background: $primaryWhite;
  }
}

/* Classes */
.hide-me {
  display: none;
}