/* Header */
.main-header {
  height: 95px;
  background: $primaryWhite;
  padding: 34px;
  min-width: 1300px;
  border-bottom: solid 1px #f9f9fa;
}

.logo-main {
  width: 110px;
  height: 23px;
}

#navigation {
  margin-top: 3px;
  .nav-item {
    float: left;
    list-style: none;
    + .nav-item {
      margin-left: 50px;
    }
    a {
      color: #646464;
      text-decoration: none;
      font-size: 16px;
      &:hover {
        color: $primaryPink;
      }
    }
    &.logo {
      position: relative;
      top: -4px;
    }
  }
}

.user-dropdown {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  color: #535353;
  padding: 2px 0 25px 0;
  .user-settings {
    position: absolute;
    min-width: 295px;
    background: $primaryWhite;
    @include box-shadow(0, 0, 3px, rgba(0, 0, 0, 0.35));
    top: 30px;
    right: -12px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    @include animate(.35s);
    a {
      display: block;
      height: 82px;
      padding: 30px;
      color: #535353;
      font-size: 14px;
      line-height: 20px;
      text-align: left;
      &:hover {
        color: $primaryPink;
      }
    }
    li + li {
      border-top: solid 1px #eeeeee;
    }
  }
  &:hover {
    > span {
      color: $primaryPink;
    }
    .user-settings {
      visibility: visible;
      opacity: 1;
      top: 40px;
    }
  }
  [class^="icon-"], [class*=" icon-"] {
    font-size: 22px;
    vertical-align: middle;
    padding-right: 10px;
    display: inline-block;
  }
  .icon-caret {
    font-size: 14px;
    display: inline-block;
    position: relative;
    top: -1px;
    padding-left: 6px;
  }
}

.header-links {
  margin-right: 32px;
  margin-top: 2px;
  a {
    font-size: 20px;
    color: #61707e;
  }
  &.last {
    margin-right: 42px;
  }
  .icon-add {
    color: $primaryPink;  
  }
}

.notifications-tab,
.gift {
  &:hover {
    a {
      color: $primaryPink;
    }
  }
}

.add-sitemap-tab {
  &:hover {
    .icon-add {
      color: darken($primaryPink, 10%);
    }
  }
}