/* Header */
.main-header {
  height: 95px;
  background: $primaryWhite;
  padding: 34px;
  min-width: 1300px;
  border-bottom: solid 1px #f9f9fa;
  position: relative;
  z-index: 11;
}

.logo-main {
  width: 110px;
}

#navigation {
  margin-top: 3px;
  .nav-item {
    float: left;
    list-style: none;
    + .nav-item {
      margin-left: 50px;
    }
    a {
      color: #646464;
      text-decoration: none;
      font-size: 16px;
      &:hover {
        color: $primaryPink;
      }
    }
    &.logo {
      position: relative;
      top: -4px;
    }
  }
}

.user-dropdown {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  color: #535353;
  padding: 2px 0 25px 0;
  .user-settings {
    position: absolute;
    min-width: 295px;
    background: $primaryWhite;
    @include box-shadow(0, 0, 3px, rgba(0, 0, 0, 0.35));
    top: 30px;
    right: -12px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    @include animate(.35s);
    a {
      display: block;
      height: 82px;
      padding: 30px;
      color: #535353;
      font-size: 14px;
      line-height: 20px;
      text-align: left;
      &:hover {
        color: $primaryPink;
      }
    }
    li + li {
      border-top: solid 1px #eeeeee;
    }
  }
  &:hover {
    > span {
      color: $primaryPink;
    }
    .user-settings {
      visibility: visible;
      opacity: 1;
      top: 40px;
    }
  }
  [class^="icon-"], [class*=" icon-"] {
    font-size: 22px;
    vertical-align: middle;
    padding-right: 10px;
    display: inline-block;
  }
  .icon-caret {
    font-size: 14px;
    display: inline-block;
    position: relative;
    top: -1px;
    padding-left: 6px;
  }
}

.header-links {
  margin-right: 32px;
  margin-top: 2px;
  a {
    font-size: 20px;
    color: #61707e;
  }
  &.last {
    margin-right: 42px;
  }
  .icon-add {
    color: $primaryPink;  
  }
}

.notifications-tab,
.gift {
  &:hover {
    a {
      color: $primaryPink;
    }
  }
}

.add-sitemap-tab {
  &:hover {
    .icon-add {
      color: darken($primaryPink, 10%);
    }
  }
}


// .page-container {
//   &.level-0 {
//     text-align: center;
//     > .gutter {
//       display: none;
//     }
//     > .page-tile {
//       margin-bottom: 57px;
//       border-top-color: $primaryPink;
//       &:after {
//         content: ' ';
//         position: absolute;
//         height: 57px;
//         width: 1px;
//         background: #e0e2e5;
//         bottom: -57px;
//         left: 50%;
//       }
//     }
//   }

//   &.level-1 {
//     > .page-tile {
//       border-top-color: #0679b4;
//     }
//   }

//   &.level-2 {
//     .page-tile {
//       width: 136px;
//       margin-left: 14px;
//     }

//     .tile-right {
//       width: 43px;
//     }

//     .tile-top,
//     .tile-bottom {
//       padding-right: 43px;
//     }
//   }

//   &.level-3 {
//     .page-tile {
//       width: 125px;
//       margin-left: 25px;
//     }

//     .tile-right {
//       width: 39px;
//     }

//     .tile-top,
//     .tile-bottom {
//       padding-right: 39px;
//     }
//   }

//   &.level-4 {
//     .page-tile {
//       width: 112px;
//       margin-left: 38px;
//     }

//     .tile-right {
//       width: 35px;
//     }

//     .tile-top,
//     .tile-bottom {
//       padding-right: 35px;
//     }
//   }

//   &.level-5 {
//     .page-tile {
//       width: 98px;
//       margin-left: 52px;
//     }

//     .tile-right {
//       display: none;
//     }

//     .tile-top,
//     .tile-bottom {
//       padding-right: 12px;
//     }
//   }

//   li {
//     display: inline-block;
//     vertical-align: top;
//     width: 150px;
//   }

//   .page-tile {
//     width: 150px;
//     height: 65px;
//     @include border-radius(3px);
//     @include box-shadow(1px, 1px, 2px, rgba(106, 113, 127, .2));
//     border-top: solid 2px;
//     background: $primaryWhite;
//     display: inline-block;
//     position: relative;
//   }

//   ul {
//     padding-left: 0;
//   }

//   .gutter {
//     width: 150px;
//     height: 20px;
//     background: transparent;
//     display: block;
//   }

//   .tile-name {
//     font-size: 12px;
//     color: $primaryBlack;
//     font-weight: 400;
//     margin: 0;
//   }

//   .tile-right {
//     position: absolute;
//     right: 0;
//     width: 50px;
//     height: 63px;
//     top: 0;
//     border-left: solid 1px #fafbfc;
//   }

//   .tile-top,
//   .tile-bottom {
//     height: 32px;
//     position: relative;
//     padding: 5px 50px 0 12px;
//     text-align: left;
//     color: #777f84;
//     &:before {
//       content: ' ';
//       position: absolute;
//       left: 0;
//       top: 0;
//       width: 100%;
//       height: 100%;
//       background: $primaryPink;
//       z-index: 2;
//       opacity: .85;
//       display: none;
//     }
//     &.active-hover {
//       &:before {
//         display: block;
//       }
//     }
//   }
// }