.icon {
  font-size: 27px;
  display: inline-block;
}

.link-text {
  position: relative;
  left: 8px;
  top: -8px;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-duplicate:before {
  content: "\e925";
}
.icon-email:before {
  content: "\e926";
}
.icon-url:before {
  content: "\e927";
}
.icon-page-change:before {
  content: "\e900";
}
.icon-page-comments:before {
  content: "\e901";
}
.icon-page-delete:before {
  content: "\e902";
}
.icon-page-new:before {
  content: "\e903";
}
.icon-settings:before {
  content: "\e920";
}
.icon-add:before {
  content: "\e904";
}
.icon-all-folders:before {
  content: "\e905";
}
.icon-bell:before {
  content: "\e906";
}
.icon-binoculars:before {
  content: "\e907";
}
.icon-caret:before {
  content: "\e908";
}
.icon-close:before {
  content: "\e909";
}
.icon-comment-circle:before {
  content: "\e90a";
}
.icon-comment:before {
  content: "\e90b";
}
.icon-conversation:before {
  content: "\e90c";
}
.icon-default:before {
  content: "\e90d";
}
.icon-delete-circle:before {
  content: "\e90e";
}
.icon-edit-circle:before {
  content: "\e90f";
}
.icon-folder-light:before {
  content: "\e913";
}
.icon-gateway:before {
  content: "\e912";
}
.icon-heart:before {
  content: "\e911";
}
.icon-invite-female .path1:before {
  content: "\e910";
  color: $primaryGrey;
}
.icon-invite-female .path2:before {
  content: "\e921";
  color: $primaryWhite;
  position: absolute;
  left: 0;
  top: -15px;
}
.icon-invite-female .path3:before {
  content: "\e922";
  color: $primaryGrey;
  position: absolute;
  left: 0;
  top: -15px;
}
.icon-invite-female .path4:before {
  content: "\e923";
  color: $primaryGrey;
  position: absolute;
  left: 0;
  top: -15px;
}
.icon-invite-female .path5:before {
  content: "\e924";
  color: $primaryGrey;
  position: absolute;
  left: 0;
  top: -15px;
}
.icon-invite-male:before {
  content: "\e914";
}
.icon-logout:before {
  content: "\e915";
}
.icon-notification:before {
  content: "\e916";
}
.icon-question-circle:before {
  content: "\e917";
}
.icon-reload:before {
  content: "\e918";
}
.icon-save-circle:before {
  content: "\e919";
}
.icon-search:before {
  content: "\e91a";
}
.icon-share-circle:before {
  content: "\e91b";
}
.icon-sitemap:before {
  content: "\e91c";
}
.icon-smail-face-mouth-open:before {
  content: "\e91d";
}
.icon-upload-circle:before {
  content: "\e91e";
}
.icon-wand:before {
  content: "\e91f";
}