.intro-container {
  margin-top: -65px;
}

.intro {
  width: 575px;
  margin: 0 auto;
  text-align: center;
  background: transparent;
  border: 0;
  border-radius: 0;
}

.flex-control-nav li {
  margin: 0 3px;
}

.flex-control-paging li a {
  box-shadow: 0 0 0 transparent;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background: #A3ACB5;
}

.flex-control-paging li a.flex-active,
.flex-control-paging li a:hover {
  background: #EB008B;
}

.intro h4 {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
}

.intro .slides li img {
  border: 1px solid #B3BAC2;
}

.timblee-icon {
  margin-bottom: 25px;
  text-align: center;
}

.timblee-icon img {
  width: 34px;
  height: 34px;
  vertical-align: top;
}

.intro-options {
  text-align: center;
  margin-top: 13px;
  position: relative;
  height: 95px;
  .btn-pink {
    width: 220px;
    height: 35px;
    font-size: 8px;
    padding-top: 0;
    padding-bottom: 0;
    background: $primaryPink;
    color: $primaryWhite;
    line-height: 33px;
    &:hover {
      background: $primaryWhite;
      color: $primaryPink;
    }
  }
}

.intro-options a {
  display: inline-block;
}

.flex-control-nav {
  position: relative;
  bottom: auto;
  margin-top: 30px;
}

.replay {
  display: none;
  + .replay {
    top: 50px;
  }
  margin-top: 7px;
}

.skip,
.replay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.skip {
  a {
    color: $primaryLink;
    font-size: 11px;
    &:hover {
      color: $primaryPink;
    }
  }
}

#replay_intro {
  color: $primaryLink;
  font-size: 11px;
  &:hover {
    color: $primaryPink;
  }
  .icon-reload {
    font-size: 16px;
    position: relative;
    font-size: 17px;
    margin-right: 3px;
    display: inline-block;
    top: 4px;
    @include rotate(180deg);
  }
}