/* Mixins */
@mixin box-shadow($first, $second, $third, $color) {
  box-shadow         : $first $second $third $color;
  -moz-box-shadow    : $first $second $third $color;
  -webkit-box-shadow : $first $second $third $color;
}

@mixin border-radius($radius) {
  border-radius         : $radius;
  -moz-border-radius    : $radius;
  -webkit-border-radius : $radius;
}

@mixin animate($duration) {
  transition: $duration;
  -moz-transition: $duration;
  -webkit-transition: $duration;
}

@mixin alignCenter($left, $top) {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: $left;
  margin-top: $top;
  z-index: 1;
}

@mixin rotate($degree) {
  transform: rotate($degree);
  -moz-transform: rotate($degree);
  -webkit-transform: rotate($degree);
}

@mixin scale($times) {
  transform: scale($times);
  -moz-transform: scale($times);
  -webkit-transform: scale($times);
}