.font-10 {
  font-size: 10px;
  line-height: 10px;
}

.font-12 {
  font-size: 12px;
  line-height: 18px;
}

.font-12-light {
  @extend .font-12;
  color: $primaryLink;
}

.font-14 {
  font-size: 14px;
  line-height: 20px;
}

.font-18 {
  font-size: 18px;
  line-height: 24px;
}

.font-24 {
  font-size: 24px;
  line-height: 30px;
}

.remove-default-styles {
  background: $transparent;
  border: 0;
  color: $primaryPink;
}

.settings {
  width: 620px;
  margin: 0 auto;
  padding: 100px 0;

  .form-group {
    margin-bottom: 0;
  }

  h1 {
    font-size: 24px;
    line-height: 30px;
    margin: 7px 0 50px 0;
    color: #262b30;
    font-weight: 400;
  }

  .nav-tabs .active,
  .nav-tabs .active:hover,
  .nav-tabs .active:focus {
    a {
      @extend .remove-default-styles;
    }
  }
  .nav-tabs {
    border-bottom: solid 1px $primaryLabel;
    position: relative;
    a {
      padding: 0;
      color: $primaryGrey;
      font-weight: 700;
      @extend .font-12;
      margin: 0;
      text-transform: uppercase;
      border: 0;
      @include border-radius(0);
      padding-bottom: 10px;
      position: relative;
      &:hover {
        @extend .remove-default-styles;
      }
    }
    li + li {
      margin-left: 27px;
    }
    li:first-child {
      a {
        &:after {
          width: 106%;
          left: 0;
        }
      }
    }
    .animated-bar-rails {
      position: absolute;
      bottom: 0;
      height: 3px;
      background: $primaryPink;
      margin: 0;
      left: 0;
      width: 49px;
    }
  }
}

.save {
  position: absolute;
  right: 15px;
  top: 0;
  display: none;
  &.small {
    .btn-pink {
      margin-right: 0;
    }
  }
  &.show {
    display: block;
  }
}

.resend {
  position: absolute;
  right: 15px;
  width: 110px;
  text-align: center;
  color: $primaryLink;
  top: 43px;
  @extend .font-10;
}

.settings-form {
  padding: 40px 0;
  + .settings-form {
    border-top: solid 1px $primaryLabel;
  }

  &.last {
    border-bottom: solid 1px $primaryLabel;
  }

  label {
    display: block;
    color: $primaryGrey;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    @extend .font-12;
  }

  input:not(.default-input) {
    width: 100%;
    border: 0;
    background: $transparent;
    color: #414952;
    margin-top: 5px;
    @extend .font-18;
  }

  .btn-pink {
    height: 33px;
    min-width: 112px;
    border: 1px solid $primaryPink;
    color: $primaryWhite;
    line-height: 20px;
    background: $primaryPink;
    margin-right: 15px;
    font-size: 10px;
    &.btn-single {
      margin-right: 0;
      color: $primaryPink;
      background: $primaryWhite;
      border-color: $primaryPink;
      @include animate(.35s);
      &:hover {
        color: $primaryWhite;
        border-color: $primaryPink;
        background: $primaryPink;
      }
    }
  }

  .btn-grey {
    margin-top: 2px;
  }
}

.btn-grey, .btn-grey.btn-input {
  height: 33px;
  min-width: 112px;
  border: 1px solid #a3acb5;
  color: #a3acb5;
  line-height: 19px;
  font-size: 10px;
  text-transform: uppercase;
  @include animate(.25s);
  &:focus {
    color: #a3acb5;
  }
  &:hover {
    background: #a3acb5;
    color: $primaryWhite;
  }

  .edit-info {
    position: relative;
  }
}

.profile-image {
  @include border-radius(50%);
  width: 58px;
  height: 58px;
  margin-right: 15px;
}

.right-text, .left-text {
  width: calc(100% - 73px);
  color: $primaryLink;
  @extend .font-12;
}

.notification {
  padding-top: 85px;
  label {
    @extend .font-12;
    color: $primaryGrey;
    padding-bottom: 3px;
    border-bottom: solid 1px $primaryLabel;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
  }

  h4 {
    margin: 0 0 3px 0;
    @extend .font-12;
    color: $primaryGrey;
    text-transform: uppercase;
  }

  p {
    @extend .font-12;
    color: $primaryLink;
  }
}

.team-member-name {
  @extend .font-18;
  color: $primaryFormColor;
  margin: 0;
  text-transform: none;
  font-weight: 400;
}

.active-since {
  @extend .font-12;
  color: $primaryLink;
  text-transform: normal;
  font-weight: 400;
  display: block;
}

.profile-image {
  width: 32px;
  height: 32px;
  margin-top: 6px;
  &.with-delete {
    margin: 0 4px 0 0;
    width: 26px;
    height: 26px;
  }
  &.profile-image-lg {
    width: 55px;
    height: 55px;
    margin-top: 3px;
  }
}

#team {
  .right-text {
    width: calc(100% - 49px);
  }
  .settings-form {
    .btn-pink {
      margin-right: 0;
      background: $transparent;
      color: $primaryPink;
      &:hover {
        background: $primaryPink;
        color: $primaryWhite;
      }
    }
  }
}

.btn-regular {
  width: 112px;
  text-align: center;
  display: inline-block;
  margin-top: 4px;
}

#invite-user-modal {
  .modal-body {
    padding: 40px 45px;
  }
  .modal-dialog {
    width: 940px;
  }
  h3 {
    font-size: 18px;
    margin-bottom: 19px;
  }
  h1 {
    font-size: 50px;
    font-weight: 400;
    margin: 0;
    padding: 37px 0 50px 0;
  }
}

ul.tagit {
  min-height: 48px;
  padding: 5px 8px;
  border-color: #d4d4d4;
}

ul.tagit li.tagit-new {
  height: 36px;
  margin: 0;
  padding: 0;
}

ul.tagit > :first-child.tagit-new {
  width: 320px;
}

ul.tagit input[type="text"] {
  height: 36px;
}

.ui-icon.ui-icon-close {
  display: none;
}

ul.tagit li.tagit-choice-editable {
  background: #f9fafc;
  padding: 7px;
  @extend .font-12;
  color: $primaryGrey;
  border: 0;
  height: 33px;
  margin: 0 3px 3px 0;
}

.border-top {
  border-top: solid 1px #d6d8da;
}

.optional-message-container {
  padding-top: 14px;
}

.optional-message {
  height: 175px;
  padding: 15px;
  border: 1px solid #d4d4d4;
  @include border-radius(6px);
  background: $primaryWhite;
  textarea {
    height: 120px;
    border: 0;
    padding: 0;
    resize: none;
  }
}

.twemoji-textarea {
  height: 120px;
  padding: 15px;
  border: 1px solid #d4d4d4;
  @include border-radius(6px);
  background: $primaryWhite;
}

#invite-user-modal {
  .modal-button {
    padding-top: 30px;
  }
  .btn-transparent {
    border-color: $primaryGreyLight;
    color: $primaryGreyLight;
  }
  .btn {
    line-height: 31px;
    min-width: 200px!important;
    height: 45px!important;
    margin-bottom: 0;
    @extend .font-14;
    text-transform: uppercase;
  }
  .modal-message, p {
    color: $primaryGrey;
  }
  .btn-success:hover {
    border-color: #449D44;
  }
}

.emoji-section {
  margin-top: 10px;
  .add-message {
    font-size: 14px;
    color: $primaryGrey;
    font-weight: 700;
    line-height: 20px;
    &:hover {
      color: $primaryPink;
    }
  }
  .clear-text {
    font-size: 14px;
    color: $primaryLink;
    font-weight: 400;
    line-height: 20px;
    &:hover {
      color: $primaryPink;
    }
  }
  .or {
    color: #d6d8da;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 0 2px;
  }
}


#sitemap-share-preview-modal, #invite-user-preview-modal {
  .modal-body {
    @include border-radius(10px);
    padding: 120px 80px 0 80px;
    p {
      @extend .font-14;
      color: $primaryGrey;
    }
    .btn-pink {
      background: $primaryPink;
      color: $primaryWhite;
      margin-top: 25px;
      cursor: default;
    }
  }
  .inner {
    background: $primaryWhite;
    padding: 40px;
    border: 1px solid #d6d8da;
    @include border-radius(6px);
  }
  .modal-content {
    .close {
      position: absolute;
      right: 17px;
      top: 17px;
      z-index: 3;
      opacity: 1;
    }
  }
}

.go-back {
  z-index: 3;
  top: 17px;
  left: 17px;
  font-size: 12px;
  color: #a3acb5;
  position: absolute;
  bottom: -1px;
  height: 18px;
  .icon-caret {
    font-size: 12px;
    display: inline-block;
    transform: rotate(90deg);
    position: relative;
    bottom: -1px;
  }
}

.modal-footer {
  text-align: center;
  .logo-inner {
    margin: 10px 0 20px 0;
    width: 47px;
  }
  p {
    font-size: 10px;
    line-height: 15px;
    color: #a3acb5;
    padding-bottom: 15px;
    span {
      font-weight: 700;
    }
  }
}

/* Edit User */
.link-with-border {
  padding: 0 0 5px 0;
  border-bottom: solid 1px $primaryLabel;
  a {
    @extend .font-12;
    color: $primaryLink;
    font-weight: 700;
    text-transform: uppercase;
  }
  .icon-caret {
    display: inline-block;
    transform: rotate(90deg);
    position: relative;
    bottom: -1px;
    left: -2px;
  }
}

.cus-radio {
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  height: 175px;
  padding: 10px;
  width: 160px;
  background: #f9fafc;
  color: #a3acb5;
  text-align: center;
  text-transform: uppercase;
  @extend .font-12;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}

.role {
  position: relative;
  .role-check {
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 1;
    width: 14px;
    height: auto;
    @include animate(.25s);
    @include scale(0);
  }
  h4 {
    font-size: 12px;
    color: #a3acb5;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 0;
  }
  width: 160px;
  display: inline-block;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  input {
    position: absolute;
    width: 100%;
    opacity: 0;
    height: 100%;
    z-index: 2;
    left: 0;
    top: 0;
    cursor: pointer;
    &:checked {
      + .role-check {
        @include scale(1);
      }
      ~ .cus-radio {
        background: transparent;
        border: 1px solid #d6d8da;
        color: #25a45f;
        h4 {
          color: #25a45f;
        }
      }
    }
  }
}

.role-select-cancel {
  margin-top: 5px!important;
}

.role-standard {
  margin-right: 17px;
}

.role-standard,
.role-admin {
  input {
    &:checked {
      ~ .cus-radio .role-image {
        background-position: 0 -72px;
      }
    }
  }
}

.inactive-user {
  .team-member-name,
  .active-since {
    color: #a3acb5;
  }
  .profile-image {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}

.access {
  h4 {
    color: #6a717f;
    @extend .font-12;
    border-bottom: solid 1px #d6d8da;
    padding-bottom: 5px;
    margin-bottom: 35px;
    text-transform: uppercase;
  }

  p {
    color: #a3acb5;
    @extend .font-12;
  }

  a {
    color: #ec008c;
    @extend .font-12;
    text-decoration: underline!important;
  }
}

.user-invite {
  font-size: 32px;
  .path1:before,
  .path3:before,
  .path4:before,
  .path5:before {
    color: $primaryPink;
    top: 0;
    left: 16px;
  }
  .path2:before {
    top: 0;
    left: 16px;
  }
}

.settings-form .label-bordered {
  color: $primaryGrey;
  padding-bottom: 3px;
  border-bottom: solid 1px $primaryLabel;
  display: block;
  margin-bottom: 30px;
}

.delete-account {
  border-top: 0!important;
  padding-top: 92px;
}

.btn-grey {
  + .btn-grey {
    margin-left: 12px;
  }
}

ul.tagit li.tagit-choice-editable.invalid-tag {
  color: $primaryRed;
}

.text-right.edit-info {
  margin-top: 2px;
}

.settings-form {
  .user-invite {
    display: inline-block;
    margin-top: 4px;
    .path1::before,
    .path2::before,
    .path3::before,
    .path4::before,
    .path5::before, {
      top: 4px;
    }
  }
}

.plan-benefits.starter-plan-benefits .btn.btn-grey {
  line-height: 15px;
}

.cc-number {
  padding-right: 50px!important;
}

.cc-brand {
  position: absolute;
  width: 32px;
  height: 32px;
  display: block;
  z-index: 2;
  top: 8px;
  right: 20px;
  &.amex {
    background: url('/assets/amex.png');
    background-size: 32px 32px;
    background-repeat: no-repeat;
  }
  &.visa {
    background: url('/assets/visa.png');
    background-size: 40px 13px;
    background-repeat: no-repeat;
    width: 40px;
    height: 13px;
    top: 16px;
  }
  &.mastercard {
    background: url('/assets/master-card.png');
    background-size: 40px 25px;
    background-repeat: no-repeat;
    width: 40px;
    height: 25px;
    top: 12px;
  }
}

.admin-dp {
  margin-top: 5px;
  span {
    background: $primaryWhite;
    border: 1px solid #bbbec4;
    border-radius: 14px;
    display: inline-block;
    padding: 0 10px;
    height: 26px;
    line-height: 24px;
    font-size: 10px;
    color: #000;
    padding-left: 20px;
    text-transform: uppercase;
    @include box-shadow(1px, 1px, 2px, rgba(106, 113, 127, .2));
  }
  .admin-image {
    width: 36px;
    height: 36px;
    position: relative;
    left: 20px;
  }
}
label.avatar-label {
  display:inline;
}
label.avatar-label > input[type=radio]{
  display:none;
}
label.avatar-label > input[type=radio] + img{
  cursor:pointer;
  border:2px solid transparent;
}
label.avatar-label > input[type=radio]:checked + img{
  border:2px solid #f00;
}

#add-card-modal-form {
  .font-12-light {
    font-size: 14px;
  }
}

.p-t-b-20 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 45px;
  position: relative;
  &:after {
    position: absolute;
    width: 1px;
    height: 100%;
    right: 0px;
    z-index: 2;
    background: #D6D8DA;
    top: 0;
    content: ' ';
  }
}

.charge {
  padding-top: 16px;
  padding-bottom: 13px;
  color: $primaryGreyLight;
}

.avatar-group {
  position: relative;
}

.show-avatars {
  position: absolute;
  width: 55px!important;
  z-index: 1;
  height: 16px;
  opacity: 0;
  cursor: pointer;
  left: 0;
  top: 58px;
  &:checked {
    ~ .avatars-list {
      opacity: 1;
      visibility: visible;
    }
  }
  &:hover {
    + .avatar-text {
      color: $primaryPink;
    }
  }
}

.surprise-image img {
  width: 18px;
  height: 18px;
}

.avatar-text {
  color: $primaryLink;
  font-size: 10px;
  margin-top: 3px;
  padding-left: 8px;
  cursor: pointer;
  position: relative;
  top: 2px;
  .icon-caret {
    font-size: 8px;
    position: relative;
    top: 1px;
  }
  &:hover {
    color: $primaryPink;
  }
}

.row-avatar-edit,
.row-logo-edit {
  position: relative;
}

.avatars-list {
  height: 230px;
  overflow-y: scroll;
  width: 210px;
  padding-left: 0;
  border: 1px solid #eee;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  left: -58px;
  top: 100px;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  @include animate(.35s);
  background: $primaryWhite;
  li {
    width: 100%;
    label {
      width: 50%;
      float: left;
      text-align: center;
      height: 77px;
      border: 1px solid #eee;
      padding-top: 12px;
      border-bottom: 0;
      img {
        border: 0!important;
        height: 50px!important;
        width: 50px!important;
        margin: 0!important;
        float: none!important;
      }
      &:nth-child(odd) {
        border-left: 0;
        border-right: 0;
      }
      &:nth-child(even) {
        border-right: 0;
      }
      &:nth-child(n+3) {
        border-top: solid 1px #eee;
      }
      &:first-child,
      &:nth-child(2) {
        border-top: 0
      }
    }
  }
}

.preview-profile-image {
  cursor: pointer;
}

.display-image {
  position: relative;
  .pink-image-overlay {
    opacity: 1;
    width: 55px;
    height: 55px;
    position: absolute;
    left: 0;
    top: 3px;
    @include border-radius(50%);
    @include animate(.35s);
    background: rgba(236, 0, 140, .8);
    border: 1px solid rgba(236, 0, 140, .8);
    z-index: 1;
    &:before, &:after {
      content: ' ';
      width: 24px;
      height: 3px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -1.5px 0 0 -12px;
      z-index: 1;
      background: $primaryWhite;
    }
    &:after {
      width: 3px;
      height: 24px;
      margin: -12px 0 0 -1.5px;
    }
  }
  input {
    position: absolute;
    width: 55px!important;
    height: 55px;
    margin-top: 0!important;
    position: absolute;
    left: 0;
    top: 3px;
    opacity: 0;
    @include border-radius(50%);
    cursor: pointer;
    z-index: 2;
    &:hover {
      ~ .pink-image-overlay {
        opacity: 1;
      }
    }
  }
}

.eye {
  width: 14px;
  height: 10px;
}

.role-image {
  width: 70px;
  height: 70px;
  background: url('/assets/standard-role.png');
  background-size: 70px;
  display: inline-block;
  @include animate(.25s);
}

.role-admin {
  .role-image {
    background: url('/assets/admin-role.png');
    background-size: 70px;
  }
}
