.user-entry {
  &.modal {
    padding-top: 0;
    padding-bottom: 0;
    .modal-message {
      color: $primaryGrey;
    }
    .modal-title {
      padding-bottom: 5px;
    }
  }

  .logo {
    padding-top: 18px;
  }

  .logo-inner {
    width: 47px;
  }

  .panel {
    @include border-radius(10px);
    @include box-shadow(1px, 1px, 2px, rgba(106, 113, 127, .2));
    margin: 0 auto;
    width: 620px;
  }

  .modal-heading {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 5px;
  }

  .small {
    color: $primaryGrey;
    font-size: 14px;
    line-height: 20px;
  }

  .user-form {
    padding: 15px 145px 0 145px;
  }

  .go-to-login {
    margin-bottom: 2px;
  }

  .go-to-login,
  .go-to-terms,
  .send-again {
    color: $primaryLink;
    font-size: 12px;
    line-height: 18px;
  }

  .go-to-terms {
    margin-bottom: 15px;
  }

  .recover {
    padding-bottom: 30px;
  }

  .send-again {
    margin-bottom: 0;
    padding-bottom: 21px;
  }
}

.field_with_errors {
  .form-control {
    border-color: $primaryError;
    &:focus {
      border-color: $primaryError;
    }
  }

  + .error-message {
    display: block;
  }
}

.error-message {
  text-align: left;
  display: none;
  padding: 5px 0 7px 0;
  color: $primaryError;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: .1px;
  a {
    color: $primaryError;
    text-decoration: underline;
  }
}

.login-error-message {
  text-align: center;
  display: block;
}

.error-message.add-top-padding {
  padding: 13px 0 0px 0;
}

.log-in-page {
  .panel {
    @include alignCenter(-310px, -195px);
  }
}

.forgot-password-page {
  .panel {
    @include alignCenter(-310px, -178px);
  }
}

.registration-page {
  .panel {
    @include alignCenter(-310px, -268px);
  }

  &.with-error {
    .panel {
      @include alignCenter(-310px, -318px);
    }
  }
}

.delete-account-page {
  .modal-dialog {
    @include alignCenter(-310px, -200px);
  }
}

#choose-plan-modal {
  .modal-dialog {
    @include alignCenter(-471px, -308px);
  }
}

#sucessful_reset_password_sent_modal {
  .modal-dialog {
    @include alignCenter(-310px, -116px);
    margin-right: 0;
    margin-bottom: 0;
  }
  .modal-body {
    padding-bottom: 37px;
    p {
      padding-bottom: 0;
    }
  }
  .modal-title {
    padding-top: 11px;
  }
}

.super-admin {
  .btn {
    text-transform: none;
    margin-bottom: 23px;
  }
  .select2 {
    width: 100%!important;
    .selection {
      width: 100%;
      border-color: #d4d4d4;
      .select2-selection {
        height: 48px!important;
        @include border-radius(3px);
        #select2-business_id-container {
          line-height: 46px;
          text-align: left;
          padding-left: 15px;
          padding-right: 15px;
          font-size: 14px;
          .select2-selection__placeholder {
            color: $primaryBlack!important;
          }
        }
        .select2-selection__arrow {
          top: 10px;
          right: 10px;
          b {
            border: 0!important;
            &:before {
              content: '\e908';
              position: absolute;
              font-size: 15px!important;
              font-family: 'icomoon' !important;
              font-weight: 400;
              top: -7px;
              left: -7px;
              color: $primaryLink;
            }
          }
        }
      }
    }
  }
  .panel {
    @include alignCenter(-310px, -167px);
  }
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: $transparent!important;
  color: $primaryBlack;
}

.select2-dropdown {
  border-color: #ececec;
  max-height: 230px;
  @include border-radius(10px);
  top: -48px;
  border-top: solid 1px #ececec!important;
  overflow-y: auto;
}

#select2-business_id-results li {
  padding: 10px 12px;
  + li {
    border-top: solid 1px #ececec;
  }
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border: 0!important;
}

.select2-container--default .select2-results > .select2-results__options {
  overflow: visible;
}

.select2-search.select2-search--dropdown {
  padding: 0;
}

.select2-results__option.loading-results {
  display: none!important;
}

.select2-search__field {
  padding: 10px 12px!important;
}

.react-sign-up {
  .registration-page {
    padding: 15px;
  }
  .modal-body {
    background: $primaryWhite;
    @include border-radius(10px);
    width: 620px;
    border: 1px solid #d6d8da;
  }
  .btn {
    height: 48px;
    line-height: 36px;
    &:focus {
      color: $primaryPink;
    }
  }
  .error-div {
    color: #e41e26;
    font-size: 10px;
    letter-spacing: 0.1px;
    line-height: 16px;
    padding: 5px 0 7px;
    text-align: left;
    &:empty {
      padding: 0;
    }
  }
  .logo {
    padding-bottom: 10px;
  }
  .modal-heading {
    margin-bottom: 10px;
  }
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border-color: #ececec;
  border-width: 0;
  border-bottom-width: 1px;
  height: 45px;
  color: #ccc!important;
}

#delete-folder-modal {
  .modal-dialog {
    @include alignCenter(-310px, -180px);
  }
}

#delete-user-modal {
  .modal-dialog {
    @include alignCenter(-310px, -180px);
  }
}

#revoke-invite-modal {
  .modal-dialog {
    @include alignCenter(-310px, -180px);
  }
}

#pro-plan-modal {
  .modal-dialog {
    @include alignCenter(-470px, -326px);
  }
}

#invite-user-modal {
  .modal-dialog {
    @include alignCenter(-470px, -317px);
  }
}

#new-section-modal {
  .modal-dialog {
    @include alignCenter(-310px, -118px);
  }
}

#delete-page-modal {
  .modal-dialog {
    @include alignCenter(-310px, -183px);
  }
}

#sucessful_reset_password_sent_modal {
  .modal-dialog {
    @include alignCenter(-310px, -146px);
  }
}

#sitemap-warning-modal,
#invite-warning-modal {
  .modal-dialog {
    @include alignCenter(-375px, -170px);
  }
}

#sitemap-error-modal,
#invite-error-modal {
  .modal-dialog {
    @include alignCenter(-375px, -144px);
  }
}
.react-sign-up {
  .modal-body {
    @include alignCenter(-310px, -274px);
    z-index: 99999;
    &.modal-with-error {
      @include alignCenter(-310px, -325px);
    }
  }
}

.guest-modal {
  .modal-dialog {
    @include alignCenter(-310px, -259px);
  }
}

#delete-section-modal {
  .modal-dialog {
    @include alignCenter(-310px, -153px);
  }
  .modal-message {
    color: #62717f;
  }
}

#sitemap-share-preview-modal {
  .modal-dialog {
    @include alignCenter(-310px, -292px);
  }
}

#invite-user-preview-modal {
  .modal-dialog {
    @include alignCenter(-310px, -342px);
  }
}

.invited-user {
  .panel {
    @include alignCenter(-310px, -263px); 
  }
}

.invited-user.user-entry {
  .small {
    font-weight: 600;
    padding-bottom: 8px;
    margin-top: 13px;
  }
  .go-to-terms {
    margin-bottom: 10px;
  }
  form .form-group {
    &:last-of-type {
      margin-bottom: 10px;
    }
  }
  .go-to-login {
    margin-bottom: 6px;
  }
}
