.user-entry {
  &.modal {
    padding-top: 0;
    padding-bottom: 0;
    .modal-message {
      color: $primaryGrey;
    }
    .modal-title {
      padding-bottom: 5px;
    }
  }

  .logo {
    padding-top: 18px;
  }

  .logo-inner {
    width: 47px;
  }

  .panel {
    @include border-radius(10px);
    @include box-shadow(1px, 1px, 2px, rgba(106, 113, 127, .2));
    margin: 0 auto;
    width: 620px;
  }

  .modal-heading {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 5px;
  }

  .small {
    color: $primaryGrey;
    font-size: 14px;
    line-height: 20px;
  }

  .user-form {
    padding: 15px 145px 0 145px;
  }

  .go-to-login {
    margin-bottom: 2px;
  }

  .go-to-login,
  .go-to-terms,
  .send-again {
    color: $primaryLink;
    font-size: 12px;
    line-height: 18px;
  }

  .go-to-terms {
    margin-bottom: 15px;
  }

  .recover {
    padding-bottom: 30px;
  }

  .send-again {
    margin-bottom: 0;
    padding-bottom: 21px;
  }
}

.field_with_errors {
  .form-control {
    border-color: $primaryError;
    &:focus {
      border-color: $primaryError;
    }
  }

  + .error-message {
    display: block;
  }
}

.error-message {
  text-align: left;
  display: none;
  padding: 5px 0 7px 0;
  color: $primaryError;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: .1px;
  a {
    color: $primaryError;
    text-decoration: underline;
  }
}

.login-error-message {
  text-align: center;
  display: block;
}

.error-message.add-top-padding {
  padding: 13px 0 0px 0;
}

.log-in-page {
  .panel {
    @include alignCenter(-310px, -195px);
  }
}

.forgot-password-page {
  .panel {
    @include alignCenter(-310px, -178px);
  }
}

.registration-page {
  .panel {
    @include alignCenter(-310px, -268px);
  }
  
  &.with-error {
    .panel {
      @include alignCenter(-310px, -318px);
    } 
  }
}

.delete-account-page {
  .modal-dialog {
    @include alignCenter(-310px, -200px);
  }
}

#choose-plan-modal {
  .modal-dialog {
    @include alignCenter(-471px, -308px); 
  }
}

#sucessful_reset_password_sent_modal {
  .modal-dialog {
    @include alignCenter(-310px, -116px);
    margin-right: 0;
    margin-bottom: 0;
  }
  .modal-body {
    padding-bottom: 37px;
    p {
      padding-bottom: 0;
    }
  }
  .modal-title {
    padding-top: 11px;
  }
}
