$pageBackground   : #f9fafc;
$primaryBlack     : #262b30;
$primaryGrey      : #62717f;
$primaryGreyLight : #d4d4d4;
$primaryPink      : #ec008c;
$transparent      : rgba(0,0,0,0);
$primaryWhite     : #ffffff;
$placeHolder      : #dadada;
$primaryLink      : #a3acb5;
$primaryFormColor : #414952;
$password         : #c6c8cb;
$primaryError     : #e41e26;
$primaryLabel     : #d6d8da;
$primaryRed       : #e41e26;
$primaryGreen     : #25a45f;
$primaryYellow    : #FCCC2C;
$primaryBlue      : #067AB4;
$primarySuccess   : #00af40